[2019-07-16 01:29] tonymorony opened #1 "Text cut on Galaxy Note8"
From user words:

Will try to find Note8 or similar model emulator and reproduce

[2019-07-16 01:31] tonymorony opened #2 "5 digits input issue base sell"
From user words:

Will try to reproduce, at the moment don have any 5 digits balance

[2019-07-16 01:54] tonymorony commented on #1
![image](https://user-images.githubusercontent.com/24797699/61260131-ba52fa80-a785-11e9-82c5-a059931572ed.png)

Issue was in screen resolution selector, text cut in HD (1480x720) mode

[2019-07-16 02:06] tonymorony opened #3 "Application not starting on Samsung A8"
![image](https://user-images.githubusercontent.com/24797699/61260555-5df0da80-a787-11e9-91ee-4f8de668ba36.png)

[2019-07-16 02:49] 27aume commented on #3
Using v 0.1.2

[2019-07-16 02:56] tonymorony commented on #3
Seems it caused 0.1.2v app itself

[2019-07-16 05:39] jorisvial opened #4 "[UX] Swap the whole wallet balance"
It would be nice to have a button allowing to swap the whole balance, to avoid having leftover dust.
Could be similar to Binance withdrawal "Max" button.

![20190716_143352](https://user-images.githubusercontent.com/9780671/61268636-011d1080-a7d7-11e9-9615-fb1234e35f8a.jpg)
![20190716_143750](https://user-images.githubusercontent.com/9780671/61268757-6ec93c80-a7d7-11e9-995a-aa5ed05ff747.jpg)

[2019-07-16 05:58] cipig commented on #4
API does support this, eg
```curl --url "http://127.0.0.1:7783" --data "{\"userpass\":\"$userpass\",\"method\":\"withdraw\",\"coin\":\"KMD\",\"to\":\"RT9MpMyucqXiX8bZLimXBnrrn2ofmdGNKd\",\"max\":true}"```
to withdraw all KMD to `RT9MpMyucqXiX8bZLimXBnrrn2ofmdGNKd`

[2019-07-16 08:57] Kiruel commented on #4
If you enter more than your balance the input should be filed by the max balance you have.

[2019-07-16 09:01] jorisvial commented on #4
That's correct. This should be easy to add in this case. Otherwise, would be nice to add this to a potential future UX tutorial (when running the app for the first time).

[2019-07-16 09:06] Kiruel commented on #4
It's noted in the main project. So i close it here.

[2019-07-16 09:07] Kiruel commented on #1
noted thanks.

[2019-07-16 09:07] #1 closed

[2019-07-16 09:45] #3 closed

[2019-07-16 16:59] libercash opened #5 "Implement Cash Address for BCH"
Currently, most BCH wallets support the CashAddr format. This avoid sending to a BTC wallet by mistake, and already one user reported an issue sending out BCH from atomicDEX due to the legacy format.

Additionally, when selecting a token to swap, you only see the logo and BTC/BCH are very similar. Could BCH be green?

[2019-07-16 17:17] cipig commented on #5
see KomodoPlatform/atomicDEX-API#466

[2019-07-17 08:21] ca333 opened #6 "feature requests"
<img width="718" alt="reqs" src="https://user-images.githubusercontent.com/10762374/61359490-af2ec600-a87c-11e9-88f9-ef8d314c6679.png">

[2019-07-17 12:56] himu007 opened #7 "App crashes in iOS when I pull down my control center"
On iOS
1. Start app
2. Login
3. Swipe down from top to bring control center, app crashes

[2019-07-17 13:01] mammothine opened #8 "Swapped asset flashes odd balance"
Received asset momentarily displays the added total nonconverted balance of sent asset before recalculating to converted and received asset.

For example, swapped 3 MORTY to receive 1.5 RICK. However RICK balance immediately after confirmed swap displays 3 RICK added to balance (rather than 1.5). Correct, converted balance displays a few seconds later. Able to reproduce.

iOS 12

[2019-07-17 13:05] himu007 opened #9 "iOS FaceID login crashes or exits the app"
Reproduction steps:
1. install app
2. restore seed
3. activate coins
4. activate biometric login from settings
5. exit the app
6. try to login with FaceID
sometimes, it works after 7-10 attempts but most of the time app crashes/exits

[2019-07-17 13:07] ca333 commented on #7
thanks for the report - we will fix this.

[2019-07-17 13:11] himu007 commented on #7
VanncoinsToday at 14:08
Not just control centre but notification centre exits the app as well, so either pulling down from the top or pulling up from the bottom seems to exit the app

[2019-07-17 13:32] himu007 opened #10 "Feature Request to add biometric confrimation for swaps"
MaltiToday at 14:29
suggestion on the biometric/PIN, maybe a good idea to confirm an actual trade as well with this security and not only the login ?

[2019-07-17 13:40] ca333 commented on #10
extended this for all transactions (withdrawls)

[2019-07-17 13:41] himu007 commented on #10
Thanks very much. Yes, that is even better.

[2019-07-17 13:43] ca333 opened #11 "selfdestroy wallet on N wrong pin entries"
Tony Stark

[2019-07-17 13:52] ca333 commented on #7
we re working on the fix already - will notify you upon new release.

[2019-07-17 14:27] ca333 opened #12 "arrange coin order manually"
Vanncoins: Can we please add the ability to organize the order in which the coins appear on the portfolio page? Perhaps something like a tap+hold+drag?

[2019-07-17 17:37] MaltiCoin commented on #11
would the CC_heir not be an option here to add onto? if entered 10x wrong, then send funds to backup address?

[2019-07-17 17:40] MaltiCoin opened #13 "Short click on coin - trade option"
When you select a coin, there is the 'send' and 'receive' option. Would be a nice add to have 'swap' also there

[2019-07-17 17:50] himu007 opened #14 "Remove Coin option and add coins list preset"
Please add Remove Coin button or option. Currently there is no way to remove any specific coin.

We have option to add coins only.

[2019-07-17 17:51] MaltiCoin opened #15 "way to show that 'swipe to the right' is enabled to reveal 'send', 'receive' and 'swap'"
could be done with a 'boink' of some coins upon opening the app or so?

[2019-07-17 18:01] ca333 opened #16 "showing different fiat evaluations"
allow users to set the fiat conversion currency in the settings page instead of defaulting it to USD.

[2019-07-17 18:04] ca333 commented on #13
if you have balance it will actually show you this option in the "quick-menu"

![quick_menu](https://user-images.githubusercontent.com/10762374/61399235-fdb88080-a8cd-11e9-835b-910efb6c7ef1.jpeg)

[2019-07-17 18:16] himu007 opened #17 "Notifications Feature Request"
Please add notifications for:
1. When coins received
2. Coins successfully sent
3. KMD reward claim successful
4. Swap started
5. Swap completed

[2019-07-17 18:26] MaltiCoin commented on #13
I mean when you are ‘in’ the coin. Where you can see your Tx history on e.g. kmd or eth. There you only have the send receive option. Not swap

[2019-07-17 18:45] ca333 commented on #13
ok - lets keep this as a feature request

[2019-07-17 19:26] MaltiCoin opened #18 "Show reward balance when claiming"
When using the claim rewards, I don’t see how much rewards I accumulated. It’s not a must have, but always a nice moment when you see how much you get

[2019-07-17 20:12] SvetJordanov opened #19 "When trying to withdraw KMD and click on the icon for barcode scan it crashed."
When you click on withdraw KMD there is an icon, I am guessing for barcode scan. When I clicked it the app crashed and exited. I am on iphone 6s.

[2019-07-17 20:48] himu007 opened #20 "NoSuchMethodError: The getter 'coin' was called on null."
I kept trying to put my full amount of Rick up for swap
Enter details for initial swap amounts
Proceed to next screen
Go back
This allows you to enter a coin amount on the first line without selecting a coin
You can’t do this the first go around
You must first select a coin
But after you back up from the next step you can
Amount on first line with no coin selected
Hit the select coin on second lin

[2019-07-17 21:05] 27aume commented on #13
Great I was going to post the same request.

[2019-07-17 21:10] 27aume opened #21 "[feature request] PIN required to often - Add setting option"
Need to enter PIN every time app is minimized.
I would add a setting to lock app after a certain amount of time like 2min 5min 10min.

[2019-07-18 00:05] jorisvial opened #22 "Swap completed but UI shows failed"
Full log can be found here https://pastebin.com/m5rwQmsc

[code]

Transactions are confirmed on chain:
https://explorer.veruscoin.io/tx/8ac77b999ac34d8bccb7f98f2fa847c6bbee073b29759c22240ae5669b88c89b
https://kmdexplorer.io/tx/440b21bc90f9eabb6a5876a1d82a4b4e182dc9305c8b2835023f69899729860d

The application shows the swap failed.

![Screenshot_20190718-083531](https://user-images.githubusercontent

[2019-07-18 00:07] jorisvial commented on #22
Could be related to https://github.com/KomodoPlatform/atomicDEX-API/commit/fef7e1d8bca142f72efe3497cfb0c2c149a62ce7 according to user cipi#4502 on Discord.

[2019-07-18 08:35] Acura360 opened #23 "Multilingual Support"
Maybe we the Community can help to give AtomicDex a Multilingual Support in the future ?

Support for the Key markets:

Russia
Indian
China
German
etc.

[2019-07-18 09:30] tonymorony opened #24 "Long app startup on Android"
start taking around 20 seconds, have quite good Wi-Fi connection, Xiaomi Redmi Note 5 phone

adb log: https://paste.ubuntu.com/p/MYXBg5yYrQ/

video: https://send.firefox.com/download/f5bf3b70d435216d/#DbYFPmTWRuCnRmnBtDS3zw

[2019-07-18 09:33] Kiruel commented on #24
It's the normal process, mm2 need some time to start + activate all coins and get all balances.

[2019-07-18 09:35] Kiruel commented on #21
You can already remove the PIN if you want. But can be good to have this option right.

[2019-07-18 09:40] artemii235 commented on #24
@Kiruel It's not normal for user experience. IIRC I was told that GUI should parallelize the enable requests to speed up them. Is it happening in latest version? I'm going to perform a benchmark with same coins activated in parallel and check what time it will take. I will post results here.

[2019-07-18 09:42] Kiruel commented on #24
Yes activatate part and get balance are parallelized.

[2019-07-18 09:58] tonymorony commented on #24
https://paste.ubuntu.com/p/Fjzg4pqxvm/ 14 coins activation and balance checking one by one (without parallelization) took 20 seconds on my side

[2019-07-18 10:04] Kiruel commented on #15
I don't understand want you want ? Just showing the swipe the the right one time for like a "tutorial" ?

[2019-07-18 10:07] #9 closed

[2019-07-18 10:07] Kiruel commented on #7
Fixed on master, available next release.

[2019-07-18 10:10] Kiruel commented on #2
Because he probably don't have enough balance DOGE.

[2019-07-18 10:18] ca333 commented on #19
we will close this when its confirmed

[2019-07-18 12:43] smk762 opened #25 "tx history not displaying"
User Oszy reports, all coins affected.
User yorklab resolved issue with clearing data and cache (but reappears after viewing MARTY tx history). Did not resolve for Oszy. Reboot phone also not helping.
Logs end with `18 10:49:05, common:470] CORE panic! Some("attempt to subtract with overflow")`
Version - BarterDEX MarketMaker 7fc26fff2

[2019-07-18 13:48] artemii235 commented on #24
Should be fixed in https://github.com/KomodoPlatform/atomicDEX-API/commit/582352f356701dce388d7418dfbb7901b8d878bd, please test when GUI with updated MM2 is available.

[2019-07-18 14:48] imylomylo opened #26 "Typo for "name" in the i10n file may save you searching for bug one day"
https://github.com/KomodoPlatform/atomicDEX/blob/master/l10n.dart#L144

On that line, the "name" attribute is spelled incorrectly, i guess the IDE auto checks things, but just in case you wanted to catch this before it's a hair pulling moment down the track :)

`swapSucceful` should be `swapSuccessful` but any changes need correction where it's called.   If it ain't broke.....

[2019-07-18 14:48] Kiruel commented on #25
This one should be fix with the next release. We will keep you update.

[2019-07-18 14:57] ca333 commented on #26
we will clean up code after init revision - typos not considered issues for now

[2019-07-18 14:57] #26 closed

[2019-07-18 14:58] ca333 commented on #24
confirm the fix with https://github.com/KomodoPlatform/atomicDEX-API/commit/582352f356701dce388d7418dfbb7901b8d878bd

[2019-07-18 14:58] #24 closed

[2019-07-18 15:01] ca333 commented on #23
Chinese, Japanese, Korean, Spanish and Russian is arranged by our team. For other languages we would appreciate community support. I can personally cover French, German and a few other languages after the initial beta. DM me if anything is not clear.

The l10n file is located in https://github.com/KomodoPlatform/atomicDEX/blob/master/l10n.dart

[2019-07-18 15:03] ca333 commented on #2
please try to reproduce - i can provide 5 digit amounts for testing

@tonymorony @Kiruel

[2019-07-18 16:28] Cryptosaurus89 opened #27 "Old logo for Komodo"
This app is part of the rebrand.
It would make sense to use the rebranded logo.

[2019-07-18 16:30] cipig commented on #27
new logo should be put here: https://github.com/jl777/coins/blob/master/icons/kmd.png through a PR

[2019-07-18 16:42] Cryptosaurus89 commented on #25
Same issue, but for KMD and RICK tx history. Other coins are fine with me.
It does not load history. Once clicked one of these coins, every other coin does not load anymore.

Also orderbook does not load anymore after clicking one of these coins portfolio.
Looks like it's hanging in checking tx history.

App restart does fix it, until checking tx history of KMD or RICK again.

[2019-07-18 20:50] nasbats commented on #2
![20190718_174637](https://user-images.githubusercontent.com/35640832/61490870-4b8fc000-a984-11e9-99eb-c2827e9d000f.gif)
Screencap video of issue. Sorry for potato, but it's the result of stacking 3 free apps to capture, trim, and convert to a format I could upload.

[2019-07-19 06:27] tonymorony commented on #2
Thank you for video! Working exactly same way on my side.

adb: [5digs.txt](https://github.com/KomodoPlatform/atomicDEX/files/3409724/5digs.txt)

![videoissue](https://user-images.githubusercontent.com/24797699/61513957-5a6b8680-aa07-11e9-9b69-a503f7955847.gif)

[2019-07-19 09:03] Milerius opened #28 "[User experience]: Persistent data when putting the application in background"
I have a user experience on the latest version of atomicDex that bothers me. I start creating an order, I start filling the order, I go back to my home screen on my phone, and then go back to the application. And here the order I had begun to fill is completely erased. it would be nice if the data of an order being created is persistent

All simply when we put the application in background, we los

[2019-07-19 09:06] Milerius opened #29 "[User experience]: Set up a delay after return of background for pin/fingerprint"
When we go back to the application when it was in background. We should put a delay before asking for the fingerprint or pin code again.

Tested on: **Android**

Version: 0.1.3

Possible duplicate of #21

[2019-07-19 09:12] Milerius opened #30 "[User experience]: Ability to export its history in pdf for the taxation and the justifications of our transactions"
I think it's a fundamental feature, very important. To be able to explain to our different tax entity the transactions that we could do with our cryptocurrencies and traceability. I think that would allow faster adoption.

We can inspire ourselves for this in the same way as coinbase with their statement downloadable at any time by their customers. The banks systematically ask us for traces of our

[2019-07-19 09:18] Milerius commented on #30
as example:

![Capture du 2019-07-19 11-15-04](https://user-images.githubusercontent.com/21139416/61524544-ecc75680-aa16-11e9-835b-1a969e4876c0.png)

[2019-07-19 09:45] tonymorony opened #31 "Password hint text doesnt fit on IphoneSE"
this phone have quite low screen dimension so user can't see that special character is needed

![image](https://user-images.githubusercontent.com/24797699/61526131-7f212780-aa22-11e9-985e-5ed21d69a364.png)

[2019-07-19 09:50] tonymorony commented on #29
Thank you for request :+1: But yes, closed as duplicate of https://github.com/KomodoPlatform/atomicDEX/issues/21

[2019-07-19 09:50] #29 closed

[2019-07-19 09:53] tonymorony commented on #7
Let's close it after next release test

[2019-07-19 09:55] tonymorony commented on #20
needs to be tested in next release

[2019-07-19 09:56] tonymorony commented on #4
needs to be tested in next release

[2019-07-19 10:14] tonymorony opened #32 "exchange rate in USD displaying not correct when creating maker order"
On screenshot: input for trade 0.05 ETH for 10 KMD

What means 1 KMD = 0.005 ETH rate, or 1 ETH = 200 KMD

In USD equivalent should be ~242$ (with KMD by 1.21$). So it seems this USD amount calculating not correct.

![image](https://user-images.githubusercontent.com/24797699/61527917-39fef480-aa26-11e9-8298-9a1a6efdbf98.png)

[2019-07-19 10:33] Kiruel commented on #32
should be fix on the dev branch. @ca333

[2019-07-19 10:54] tonymorony commented on #31
Not so major as password hint - but looks not cute.
Maybe we can make font size adjustable for low dimension phones?

![image](https://user-images.githubusercontent.com/24797699/61530415-a7ae1f00-aa2c-11e9-8495-bbc177dce49a.png)

[2019-07-19 11:05] ca333 opened #33 "create/scan QR seed"
when creating a wallet generate a QR with the seed which can be used to restore wallets

[2019-07-19 13:40] Kiruel commented on #30
For now the history of swaps is only local. So if you change a device etc.. you will not have the swap history. So for now it's not possible to do this.

[2019-07-20 07:04] tonymorony opened #34 "[feature request] swap time estimate / timer depends of blockchains blocktime"
![image](https://user-images.githubusercontent.com/24797699/61575563-d8568d00-aaee-11e9-8fa8-7a72a0d60b62.png)

[2019-07-20 14:38] tonymorony commented on #4
"max" feature was added in 0.1.3-a

[2019-07-20 14:50] tonymorony commented on #4
the max button doesn't appear (until coin is selected on the DEX page) if on the portfolio list we hover and select swap

![hover](https://user-images.githubusercontent.com/24797699/61580092-89bce900-ab16-11e9-93e3-3e367a88d2d5.jpg)
![nomax](https://user-images.githubusercontent.com/24797699/61580100-af49f280-ab16-11e9-8e3d-57506af74f04.jpg)

[2019-07-21 20:55] bitcoinsfacil opened #35 "[password] space in the end"
Android 6.0 sony xperia e5 (f3311)

When inputting the password space was added in the end

[2019-07-21 20:57] bitcoinsfacil opened #36 "[eth qr code] not readable on metamask"
Metamask on MAC won't read the QR code generated by the app to deposit ETH

Android 6.0 Sony Xperia E5 (f3311)

[2019-07-21 20:58] bitcoinsfacil opened #37 "[UI - eth swap] minimum trade"
There is no input prior to deposits/trades where it shows what is the minimum trade.

Android 6.0 Sony Xperia (f3311)

[2019-07-22 06:56] bitcoinsfacil opened #38 "[send logs] send feedback does not attach anything"
Android 6 sony xperia e5

Send feedback opens screen for `sharing` but doesn't attach/write anything on Discord. On telegram sends a message that says
[code]

[2019-07-22 07:01] bitcoinsfacil opened #39 "[failed swap] eth sent kmd not received"
Failed swap ETH funds do not show on the wallet.
Swap id `3447b727-fe93-4357-8e5a-8cf2699b7e86`

ETH transaction detail:
[code]

[2019-07-22 08:00] lilszi opened #40 "Orders history list empty but orders are active"
Active orders list not appearing anymore, android 0.1.3a, restarted phone and cleared cache didst help, newly created order does not appear too. Swaps are happening so the orders are active but can't be seen.

[2019-07-22 09:42] Kiruel commented on #40
Can you share the logs here please.

[2019-07-22 09:51] tonymorony commented on #38
@bitcoinsfacil Could you please try to forward it to another place ("Copy to clipboard" option lets say)?

[2019-07-22 10:16] smk762 commented on #4
confirmed working MAX button for both send and swap on android with v0.1.3-a db6ded6ec

[2019-07-22 10:17] tonymorony commented on #4
it's working yes, but not displaying if navigate from hover (described in message above)

[2019-07-22 10:50] smk762 commented on #32
![ethrate](https://user-images.githubusercontent.com/35845239/61627024-5b274580-acb1-11e9-8206-ac2f97ee2c03.jpeg)

Appears to be resolved on Android (v0.1.3-a - db6ded6ec)

[2019-07-22 11:04] lilszi commented on #40
Sure.
[https://pastebin.com/vvuh5miN](url)

[2019-07-22 12:02] bitcoinsfacil commented on #38
Yes, this is what I get `content://com.komodoplatform.atomicdex.flutter.share_provider/external_cache/share/log.txt`

Worked on whatsapp so I'll send that on the other issue

[2019-07-22 12:03] #38 closed

[2019-07-23 09:35] lilszi commented on #40
fully reinstalled the app now it's fine.

[2019-07-23 09:48] tonymorony commented on #40
Hi!

Aha, as I can see there was old mm2 version in this log so something doesnt update properly by play market "Update" button (we already working on updating process improvement)

Great that it work on your side now, I'm closing this issue.

[2019-07-23 09:48] #40 closed

[2019-07-23 10:14] tonymorony commented on #22
It should be fixed in 0.1.3-a and I'm not able to reproduce at the moment

[2019-07-23 10:14] #22 closed

[2019-07-23 11:46] smk762 opened #41 "Withdraw transaction history shows source address as destination if less than whole balance sent."
After sending funds, transaction history screen displays the AtomicDEX wallet address as the "To" address.
Transaction: https://kmd.explorer.dexstats.info/tx/10e9b8c42182eb120774987e86e241797727a70a580007e039879d1ef4b2ba52

![Screenshot_20190723-192822](https://user-images.githubusercontent.com/35845239/61709055-e15e8d00-ad80-11e9-8b86-fb7cc79cfe81.jpg)
![image](https://user-images.githubuserconte

[2019-07-23 11:56] cipig commented on #41
The withdraw transactions are OK, you sent from RUwodWWAabv3h2jSatVDSMT89cLkTMSutA to RKD8NjuLNrnqaFY9KRpU6MAWHeve9byjAA and the rest was returned to RUwodWWAabv3h2jSatVDSMT89cLkTMSutA, that is why the tx has 2 outputs.

[2019-07-23 12:00] smk762 commented on #41
I understand, but atomicdex display doesn't show the address where bulk of funds (the address input as destination) went to.
![image](https://user-images.githubusercontent.com/35845239/61710492-5b444580-ad84-11e9-981f-2c93bcf3c6f2.png)

This creates the misconception that all funds were sent to self. User reported this when attempting to send to Binance (I linked them to tx on explorer to confirm

[2019-07-23 12:09] tonymorony commented on #37
Hello @bitcoinsfacil Thank you for feedback.
Where do you think it is better to display minimal trade amount?

[2019-07-23 12:12] tonymorony commented on #35
Hello @bitcoinsfacil

Could you please elaborate a little bit:
Am I understand correct that it was encryption password?
Did this happen when you created an account or login?
How you noticed that it have additional space?

If it reproducible on your end - would be very helpful if you can record short screencast with problem.

Thank you in advance!

[2019-07-23 12:21] tonymorony commented on #36
Hello @bitcoinsfacil

I've tried another ETH wallet and QR code from it also not scanning by metamask QR reader.

Is there any wallet which working fine with metamask qr scanner on your side?

[2019-07-23 14:55] tonymorony commented on #41
Reproduced on my side: change destination address displaying in tx history instead of recipient

[2019-07-24 09:57] Kiruel commented on #41
Can you tell me how to reproduce please, this is a new seed ? I can't reproduce in my side.

[2019-07-24 10:14] smk762 commented on #41
Seed created in Atomicdex, prior version, then restored when updating. Device is Android, s10e.

[2019-07-24 11:07] tonymorony commented on #41
To reproduce just send not whole balance of any UTXO based coin not to yourself. Change address (your atomicdex receiving address) will be displayed in detailed tx history in "To" field (recipient)

Video with issue reproducing (works like this in 100% cases on my side) : https://drive.google.com/file/d/1bkYG5v99RWhvBYoYIXDguquVYvAtrccz/view?usp=sharing

[2019-07-24 11:51] Kiruel commented on #2
Its because you don’t have enough RICK. So if you try to put more than your balance the field is clean.

[2019-07-24 11:55] tonymorony commented on #2
I have 11111 RICK on balance but cant input 5th digit. I wonder it's visible on gif above...

[2019-07-24 12:19] Kiruel commented on #2
Ok I find, it's a limitation for SELLING we can remove that if needed.

[2019-07-24 12:22] tonymorony commented on #2
1 DGB price is around 0.01$, 10000 DGB selling is just 100$ order. So it would be great if it'll be possible to input >4 digits into this field.

[2019-07-24 12:25] #41 closed

[2019-07-24 12:25] Kiruel commented on #2
Ok I will fix it and remove this limitation.

[2019-07-24 12:29] #2 closed

[2019-07-25 07:16] lilszi opened #42 "FIAT API not working in 0.1.4"
Shows $0 for everything

[2019-07-25 08:25] #42 closed

[2019-07-26 08:03] tonymorony commented on #7
Fixed in 0.1.4

[2019-07-26 08:03] #7 closed

[2019-07-26 08:05] tonymorony commented on #19
fixed in 0.1.4

[2019-07-26 08:05] #19 closed

[2019-07-26 08:09] tonymorony commented on #20
Can't reproduce on 0.1.4 so should be fixed

[2019-07-26 08:09] #20 closed

[2019-07-26 08:09] rodent-test opened #43 "Text suggestions"
Text: What is the 1./2./3./n. word ==> What is the 1st/2nd/3rd/nth word. The 1./2./3. spelling is only used in Germany AFAIK.
Text: Swap ongoing ==> Swap in progress?

[2019-07-26 08:16] rodent-test commented on #12
FWIW, this one was on my list as well. It appears coins are now ordered by USD value of holdings, which can get annoying if this changes during the day due to different exchange rates...

[2019-07-26 08:33] rodent-test opened #44 "PIN is initialized when device reboots during account creation"
I rebooted my phone (Android) while the app was encrypting my initial wallet and didn't seem to finish (both fast and non-fast encryption). After the reboot, the app thought I had a wallet with a PIN and asked me for the PIN, but of course I didn't know the PIN since I never got there.

I fixed it using recover wallet (I had the seed anyway), and that worked great.

When opening the failed wallet

[2019-07-26 08:36] rodent-test opened #45 "No "max" option when entering swap from swipe-right context menu"
The app (on Android) does not show the Max option in Exchange/trade when I enter that screen from the coins overview.

The max option does appear when reselecting the coin from the drop-down menu.

[2019-07-26 09:05] tonymorony commented on #45
Thank you for report!

Can confirm such bug. It described in this issue also: https://github.com/KomodoPlatform/atomicDEX/issues/4

[2019-07-26 09:08] tonymorony commented on #4
Duplicate of #45
and #45 have more relevant description at the moment so closing

[2019-07-26 09:08] #4 closed

[2019-07-26 09:36] gcharang opened #46 ""Standard" seed restore improvement ideas"
Suggestion:

When restoring a seed phrase (not custom), instead of a single blank, it would be better to provide 12 boxes and validate the input into each box to make sure they are valid bip39 words and provide feedback after each word.

To do this, my suggestion will be to provide 12 boxes and a button that says
 "Next box". When the button is hit, the word in the current box should be validated

[2019-07-26 09:41] gcharang opened #47 "Better Disclaimer and TOS page"
Suggestion:

Please add a scrollbar and provide a message that says "Scroll down to the bottom to proceed"

Currently, there is no indication why the Next button doesn't work

[2019-07-26 14:24] bitcoinsfacil commented on #36
I do not use other wallets sorry @tonymorony

[2019-07-26 14:26] bitcoinsfacil commented on #35
Will try, might be on my side but happened twice. When typing the password a final space was added into the password.
So basically the password for encryption had a space in the end, usually they do not accept that on passwords but I might be wrong.

[2019-07-26 16:41] gcharang opened #48 "Coin amount showing negative value during a swap"
https://discordapp.com/channels/412898016371015680/584762059430821909/604346882185101332

by user `@JvdP#8992`

![2b6ced05-80c7-4b77-8476-7c42d249a6ac](https://user-images.githubusercontent.com/21151592/61967163-51277e80-aff2-11e9-9643-8d0f00ee9223.png)

[2019-07-26 17:03] gcharang opened #49 "No way to create wallet without setting a password"
The description says it is possible, but there is no way to do it currently.
![img](https://user-images.githubusercontent.com/21151592/61968333-67830980-aff5-11e9-8289-4de5ad37f0f7.jpeg)

[2019-07-26 18:22] gcharang opened #50 "Add a warning when fees represent a big part of the trade"
Feature Request:

When the txfee + dex fee exceeds a certain percentage of the trade, (> 10% for example) warn the user of this fact

[2019-07-27 06:32] gcharang opened #51 "Indicate the status of funds better"
Feature request:

When making a swap, the whole amount is still shown in the wallet. Only when a user tries to move or trade funds, etc. will there be an indication

[2019-07-27 06:37] gcharang commented on #50
Related:

It would be really great to get an indication of fees and/or minimum trade amounts upfront. Currently, trying to make a trade will show whether the user is "allowed" to.

[2019-07-29 03:54] tonymorony commented on #32
![image](https://user-images.githubusercontent.com/24797699/62020929-8fc56080-b1cd-11e9-8518-37fb02fbcc79.png)

calculation on order creation still working not correct in some cases @Kiruel 0.1 ETH to 25 USDC it's ~250$ ETH/USDC rate or 0.004 USDC/ETH rate (tested on 0.1.5)

[2019-07-29 04:00] tonymorony commented on #18
Displaying of rewards amount was added (on confirmation popup after "claim rewards" button click)

[2019-07-29 04:00] #18 closed

[2019-07-29 04:02] tonymorony commented on #45
@Kiruel could you please check this one? Should be not huge fix (still actual with 0.1.5)
Just use swap button on dashboard hover and "max" button will not appear on DEX page

![image](https://user-images.githubusercontent.com/24797699/62021219-d9627b00-b1ce-11e9-8e69-1090c73e00f1.png)
![image](https://user-images.githubusercontent.com/24797699/62021221-dc5d6b80-b1ce-11e9-9249-dacf6c42a491.png)

[2019-07-29 04:07] tonymorony commented on #15
I wonder clue is that it's hard to guess that such swipe functionality is exists in general if you don't know in advance or swipe accidentally (for exapmle I've learnt about this swipe thing only by accident)
Maybe some hint on first start can help

[2019-07-29 04:10] tonymorony commented on #51
You'll not able to use funds locked in swap with relevant error print.

What is your suggestion for better indication - how it should looks like and where ?

[2019-07-29 04:15] tonymorony commented on #49
@ca333 It looks like text on this page should be updated. Sentence about "not to use password" option seems not actual. Instead some sentence about password purpose and difference from seed might be helpful on this page

[2019-07-29 04:17] tonymorony commented on #48
Not enough information and not clear how to reproduce it (no app version, no steps/case to reproduce, no information about swap, no app logs)

[2019-07-29 04:17] #48 closed

[2019-07-29 04:20] tonymorony commented on #47
I agree that it's not very clear that TOS scroll-able
CC: [ @ca333 ]

[2019-07-29 04:24] tonymorony commented on #46
There is example of seed in this field (it with spaces), also you can press on eye to type and see the  seed. Grammar checkers and manipulations with seed input is unsafe practice as far as I know + wif/some custom seed input is possible and separation here will unnecessary complicate things imo

[2019-07-29 04:26] tonymorony commented on #44
Can confirm that in some rare cases encryption hangs and app killing causing corrupted wallet creation to which is not possible to login. It might be very helpful if you can collect adb logcat logs on this corrupted wallet login attempt.

[2019-07-29 06:20] gcharang commented on #51
In the Portfolio screen, each coin should have two values: "Total balance" and "Balance locked in a Trade"

[2019-07-29 06:56] gcharang commented on #46
[code]
I am not suggesting a Grammar checker. Just validate the word's existence in the bip39 list

I understand there is an example shown. But checking visually if there is 1 space or two between two words is difficult in a mobile phone.

That is why I proposed a solution where spacebar is not needed.

Also, I haven't suggested manipulating the seed

[2019-07-29 07:05] tonymorony commented on #46
There is exist seed validity checking already - if you not select "Allow custom seed" checkmark you'll not able to proceed with not valid bip39 seed

[2019-07-29 07:11] gcharang commented on #46
Yes, the checking is there for the whole seed. User doesn't get an indication of which mistake they made
- Did they add extra spaces? How many?
- Did they make a spelling error in one word?
- more than one word?

[2019-07-29 13:11] garnon opened #52 "Error when trying to send Litecoin"
When you try to send LTC to a normal M... address, an unspecific red error message is displayed with "try again later". But trying later always leads to the same result. So my LTC are stuck in the app now.

[2019-07-29 13:18] garnon commented on #23
As a native German and German teacher, I can also help with that.

[2019-07-29 22:58] #31 closed

[2019-07-30 13:30] dudezmobi opened #53 "Cannot cancel trade on phase 1"
No option to cancel swap during phase 1 on android device

[2019-07-30 13:34] dudezmobi opened #54 "Swap still not finished after 20 minutes"
Swap is not yet finished 20 mins... already in 2/3. 55b33634-a849-4579-9bd1-31caf2299478. Internet connection is slow. Switched from mobile internet to wifi internet

[2019-07-30 22:40] dudezmobi commented on #54
Timedout after 2 hours but my rick and morty are gone now.

[2019-07-31 06:12] dudezmobi opened #55 "Timeout error lost coins"
Encountered timeout error and i lost all coins. Swap id. 55b33634-a849-4579-9bd1-31caf2299478

[2019-07-31 06:13] dudezmobi opened #56 "Transaction cannot continue on intermittent internet connection"
Slow and intermittent internet causes transaction timeout.

[2019-07-31 06:19] lilszi commented on #54
We migrated the RICK & MORTY test-chains to new and more economic smart chains with a hybrid PoW and PoS structure. AtomicDEX mobile will automatically use the new chains and thus not contain your old RICK/MORTY balances.

[2019-07-31 06:21] lilszi commented on #55
Same as issue 54? Coins are "lost" because of new RICK/MORTY chains.

[2019-07-31 06:39] dudezmobi opened #57 "Ios. Atomicdex.does not work on older IOS devices"

[2019-07-31 06:55] ca333 commented on #57
which iOS version and which iPhone model?

[2019-07-31 07:00] ca333 commented on #56
Please provide further details for reproduction

[2019-07-31 07:02] ca333 commented on #55
Yes - we upgraded the Rick & Morty chains so your balance will be 0. Faucets were upgraded too so you can just request new testcoins.

[2019-07-31 07:02] #55 closed

[2019-07-31 07:02] #54 closed

[2019-07-31 07:03] ca333 commented on #53
After the swap matches a cancellation will not be possible anymore due to the critical state.

[2019-07-31 07:03] #53 closed

[2019-07-31 07:04] ca333 commented on #51
This is coming in mm2 - so there will be an additional field to flag the "reserved amount" - closing this since not dir. GUI related.

[2019-07-31 07:04] #51 closed

[2019-07-31 07:05] ca333 commented on #52
send to a normal L... address.

[2019-07-31 07:05] #52 closed

[2019-07-31 07:06] #46 closed

[2019-07-31 07:07] ca333 commented on #37
It shows minimum trade requirement as soon as you try to trade with an amount below the minimum.

[2019-07-31 07:07] #37 closed

[2019-07-31 07:08] ca333 commented on #36
issue on metamask

[2019-07-31 07:08] #36 closed

[2019-07-31 07:09] ca333 commented on #35
not able to reproduce

[2019-07-31 07:09] #35 closed

[2019-07-31 07:11] ca333 commented on #8
related to https://github.com/KomodoPlatform/atomicDEX/issues/51

[2019-07-31 07:11] #8 closed

[2019-07-31 07:20] ca333 commented on #25
fixed

[2019-07-31 07:20] #25 closed

[2019-07-31 07:22] ca333 commented on #44
if you kill phone during such a critical stage its "expected behaviour" - restoring with seed and encrypted properly resolved this issue.

[2019-07-31 07:22] #44 closed

[2019-07-31 07:23] ca333 commented on #27
adding this to next version

[2019-07-31 08:49] garnon opened #58 "Litecoin M address format not supported"
Many wallets provide Litecoin addresses starting with an M..., not the legacy L...
There is no good reason that the Komodo AtomicDEX only supports the legacy address format. When trying to send to an M... address, an error message is shown.

Feature Request: support Litecoin M... address format.

[2019-07-31 11:45] tonymorony commented on #58
@garnon SegWit addresses not supporting at the moment by atomicdex protocol

[2019-07-31 12:11] gcharang commented on #14
Related: Please provide an option to select the default coins that are enabled at each login.

Better yet, remember the coins that have balances from the last login and enable them in the next login

[2019-07-31 12:24] gcharang opened #59 "Visually differentiate the first screen for "Create wallet" and "Restore""
Currently "Create wallet" and "Restore", both options take the user to a screen that looks exactly the same.

This might cause confusion to the user. Add some text to convey the difference between creating a new seed and restoring one.

![photo6201580902094579950](https://user-images.githubusercontent.com/21151592/62211424-07f17900-b3bc-11e9-8cbe-5e552f53de77.jpg)

[2019-07-31 12:45] dudezmobi opened #60 "Android. Display problem on pin unlock on smaller devices"
Pin input is truncated on a 2.5 inch by 4.5 inch screen

[2019-07-31 13:09] dudezmobi opened #61 "App version is not visible"
Latest update does not show app build anymore.

[2019-07-31 13:11] tonymorony commented on #60
@dudezmobi Can you provide a screenshot and device model?

[2019-07-31 13:11] dudezmobi opened #62 "Android. Loading orderbook screen"
Seems to be loading indefinitely. Mobile screen has been loading for 15 minutes on all android devices since latest update

[2019-07-31 13:14] tonymorony commented on #61
@dudezmobi Do you mean version print on "Settings" page? Also Is it Android or iOS and could you please provide a screenshot?

[2019-07-31 13:14] ca333 commented on #61
@dudezmobi log out and log in - let us know if it shows the version afterwards

[2019-07-31 14:15] KrystianPlackowski opened #63 "[feature request] [x] button deletes a whole number instead of 1 digit"
I had 8.39088... RICK and I tried to swap 7.39088... RICK, so exactly 1 RICK is left on my account.

First I clicked on "MAX", then I tried to delete the first digit '8' and type '7' in its place. Turns out clicking on [X] button on Android deletes the whole number. Pretty annoying.

![ezgif-2-28c7601c5cd1](https://user-images.githubusercontent.com/19178519/62218276-69a9e700-b3ac-11e9-990e-e4d179a

[2019-07-31 14:38] dudezmobi commented on #61
Sent from my Samsung Galaxy smartphone.
-------- Original message --------From: TonyL <notifications@github.com> Date: 7/31/19  21:14  (GMT+08:00) To: KomodoPlatform/atomicDEX <atomicDEX@noreply.github.com> Cc: dudezmobi <christian.silvestre@dudez.mobi>, Mention <mention@noreply.github.com> Subject: Re: [KomodoPlatform/atomicDEX] App version is not visible (#61) @dudezmobi Do you mean version prin

[2019-07-31 14:50] tonymorony commented on #63
working same way on my side, I think it's good to improve this field in future releases

[2019-07-31 14:51] dudezmobi opened #64 "Android. Encrypting wallet takes too long on the new version"
Previous version registration and new wallet creation is fast. Latest version is relatively and exponentially slower.

[2019-07-31 14:51] dudezmobi commented on #60
Sent from my Samsung Galaxy smartphone.
-------- Original message --------From: TonyL <notifications@github.com> Date: 7/31/19  21:11  (GMT+08:00) To: KomodoPlatform/atomicDEX <atomicDEX@noreply.github.com> Cc: dudezmobi <christian.silvestre@dudez.mobi>, Mention <mention@noreply.github.com> Subject: Re: [KomodoPlatform/atomicDEX] Android. Display problem on pin unlock
  on smaller devices (#60) @d

[2019-07-31 14:53] dudezmobi commented on #60
I have legacy units and i would have an industrial grade unit bht1800 denso wave by months end..i can test on these devicesSent from my Samsung Galaxy smartphone.
-------- Original message --------From: TonyL <notifications@github.com> Date: 7/31/19  21:11  (GMT+08:00) To: KomodoPlatform/atomicDEX <atomicDEX@noreply.github.com> Cc: dudezmobi <christian.silvestre@dudez.mobi>, Mention <mention@norep

[2019-07-31 14:56] #62 closed

[2019-07-31 14:57] #64 closed

[2019-07-31 14:57] ca333 commented on #61
delete the application and reinstall it - the update process without prior deinstallation seems "unclean" - fixed in next version

[2019-07-31 14:57] #61 closed

[2019-07-31 14:59] ca333 commented on #64
It is a hashing process and it takes some time. You can chose the fast encryption method (insecure) if your phone model takes too long.

[2019-07-31 14:59] ca333 commented on #62
https://github.com/KomodoPlatform/atomicDEX/issues/61#issuecomment-516886442

[2019-07-31 15:00] #56 closed

[2019-07-31 15:27] dudezmobi commented on #64
1 hour and still not yet.finished.

[2019-07-31 15:29] dudezmobi commented on #64
This is a performance issue on general phones. My test unit now is a low end general public use android mobile unit

[2019-07-31 23:39] nymkappa opened #65 "[UX] - Canceling an order should not reset the UI"
## Issue
At the swap confirmation screen, clicking on cancel should not reset the previous view.

## Step to reproduce

1. Setup you swap at the `Exchange` view
<img src="https://user-images.githubusercontent.com/9780671/62255212-319bb600-b437-11e9-9f48-628b82fa62a3.jpg" alt="drawing" width="200"/>

2. At the confirmation screen, press `CANCEL`
<img src="https://user-images.githubusercontent.com/9

[2019-07-31 23:39] dudezmobi commented on #64
Confirmed ticket closed

[2019-07-31 23:42] dudezmobi commented on #60
![2019-08-01 07 41 59](https://user-images.githubusercontent.com/37325051/62255472-e03bf880-b42f-11e9-997f-6898071810fe.jpg)

this is on the lower end samsung unit

[2019-07-31 23:43] dudezmobi commented on #57
iphone X is ok
iphone 4S is NG

[2019-07-31 23:56] #57 closed

[2019-07-31 23:58] nymkappa opened #66 "[Discussion] - Orders should be display as cumulated in the order book"
## Issue
There are two orders for swapping 1 RICK to 0.5 MORTY. Those two orders should be accumulated in a single entry like a centralized exchange order book.

## Step to reproduce
1. Open the `Exchange` view
2. Set to exchange to 1 RICK
3. Choose to swap for MORTY. The order book will show the following
<img src="https://user-images.githubusercontent.com/9780671/62255617-ebdfed00-b438-11e9-99ad

[2019-08-01 10:17] tonymorony commented on #66
Clue is that on CEX by one "buy" action you can fill orders of N sellers, but in DEX your trade performing with one seller only at a time. As I see some additional logic on GUI side is needed to implement trading mechanism similar to what you explaining. If there are two 900 and 900 volume orders, to buy lets say 1100 at once you'll need two swaps actually with first seller and second one what wil

[2019-08-01 10:24] jorisvial commented on #66
I definitely agree with `So a lot of additional logic is needed`. But I believe this is pure front-end logic.
Maybe the protocol itself could offer such functionality in the future as well.

*I actually believe the benefits would be great for low liquidity markets.*
For high liquidity market it would not really matter.

[2019-08-01 10:26] ca333 commented on #66
exactly - with the difference that we should not limit the required modifications on the GUI side since all trade-related operations are handled on the atomicDEX-API layer (backend). Although it could be implemented on the frontend, a backend implementation would make more sense and resolve this more efficiently since all GUIs and even CLI traders could profit from this. However, it does sound muc

[2019-08-01 11:35] Kiruel commented on #60
But you can still unlock your the application ? Witch device do you have exactly ? Can you prodive a screenshot without the 'Ringtone' please.

[2019-08-01 17:23] 11allbits opened #67 "No repopulation of fields -->> misleading price data - when selecting from orderbook list where maker amount is less than the amount I was seeking to take"
1.  I select to sell 11 kmd
2.  From the "select coin" dropdown i hit "click to see 3 orders" for VRSC
3.  On the list that comes up, the best priced maker offer is for an amount far less than 11 KMD - I decide I want to take that order anyway, so I click it
4.  I click it and am taken back to the main "EXCHANGE" page - the VRSC amounts have been populated properly.  BUT, the KMD amount did not ge

[2019-08-03 10:11] gcharang opened #68 "Message says there are no orders available even though there are some"
Steps to reproduce:

- Go to Trade screen
- Select a coin and set amount
- Select the other coin to trade
- If there are orders available, they are displayed
- select the option "Click to create an order"
- user is taken back to the trade screen, but the message shown below the "Receive" section says: "No '<second coin>' orders available - please try again later, or create an order"

![photo621053

[2019-08-04 08:40] #60 closed

[2019-08-04 08:40] #47 closed

[2019-08-04 08:40] #27 closed

[2019-08-04 08:45] ca333 opened #69 "[l10n] add multilingual support"
To add further languages plz use https://github.com/KomodoPlatform/atomicDEX/blob/master/l10n.arb on https://translate.google.com/toolkit and translate it to the desired languages.

Language coverage

- [x] Chinese traditional
- [x] Chinese simplified
- [x] Russian
- [ ] Indian
- [x] German
- [x] Japanese
- [x] French
- [ ] Korean
- [ ] Hebrew
- [ ] Spanish
- [ ] Italian
- [ ] Arabic

[2019-08-04 08:47] ca333 commented on #23
moved to https://github.com/KomodoPlatform/atomicDEX/issues/69
Thanks for init ticket @Acura360

[2019-08-04 08:47] #23 closed

[2019-08-04 09:57] ca333 commented on #68
not able to reproduce - neither on the old nor on the new 0.1.51
@tonymorony can you plz try to reproduce

[2019-08-04 10:15] tonymorony commented on #68
@ca333 I have same screen as on screenshot on my side, I wonder this issue clue is not precise message: after `"Click to create an order"` option usage it's better to print something like a "Input amount of BTC you want to get" below the "Receive" section so for user will be clear that "Trade" button will became active after BTC amount input

[2019-08-04 10:18] tonymorony commented on #68
But in general I can not understand how

correlates with issue name

[2019-08-05 07:51] tonymorony commented on #68
Was fixed in 0.1.52

[2019-08-05 07:51] #68 closed

[2019-08-05 13:05] gcharang opened #70 "Clicking the `max` button in the trade screen when the balance has many decimal places sends the most significant digits off screen"
Example:

![IMG_1568](https://user-images.githubusercontent.com/21151592/62466263-8f6d2c80-b7ae-11e9-85f5-efa6474be473.jpeg)

The positioning of the cursor and the part of the number visible on screen currently make it easy to edit the number but there is no way to see the whole number.

Request: Display the whole number being edited in the field in a smaller font just below it. Update the additio

[2019-08-05 13:59] gcharang opened #71 "Incoming transactions of LTC and Dash are not shown in the portfolio transaction history page"
Example:

![IMG_1566](https://user-images.githubusercontent.com/21151592/62469764-95670b80-b7b6-11e9-8e4f-9b184dc8dd4c.jpeg)

The tx history for the same address in Verus Agama:

<img width="1178" alt="Screenshot_2019-08-05_at_11 43 37" src="https://user-images.githubusercontent.com/21151592/62469964-f42c8500-b7b6-11e9-8428-d31b52034abc.png">

the user claims a similar issue is faced in VerusPay m

[2019-08-05 22:47] tonymorony commented on #71
Thank you for report, will try to reproduce

[2019-08-06 06:49] tonymorony commented on #67
thank you for your report!
such base coin field adjustment was added in `0.1.53`

[2019-08-06 06:49] #67 closed

[2019-08-06 06:50] tonymorony commented on #45
fixed in `0.1.53`

[2019-08-06 06:50] #45 closed

[2019-08-06 06:50] tonymorony commented on #32
fixed in `0.1.53`

[2019-08-06 06:50] #32 closed

[2019-08-06 06:50] tonymorony commented on #49
text was removed in `0.1.53`

[2019-08-06 06:50] #49 closed

[2019-08-09 08:51] lilszi commented on #20
CrisF#3405 reported it is still happening in 0.1.5 he tried a BCH / ETH swap.
![Screenshot_20190809-170120](https://user-images.githubusercontent.com/35148176/62764566-1c053c80-ba86-11e9-922a-b6fe0ccdc2d8.png)

[2019-08-09 11:46] Cris-F commented on #20
I upgraded from 0.1.5 - 15dcab0ee to 0.153.  Had 2 failed swaps on that too.
A few hour later I had a BCH ETH swap go through.

[2019-08-09 11:53] tonymorony commented on #20
@Cris-F do you have failed swap or exception like above on 0.1.53?
If exception: what are the steps to reproduce?

If you have failed/stuck swaps please use this form: https://forms.gle/e18deJDGYB7M5Ek99

[2019-08-09 11:57] Cris-F commented on #20
Hi Tony,
Yes, I had a failed swap on 0.1.53.  I didn't get the red screen on it though.
I just tried a to buy ETH with BCH.  Failed on step 2/3.
I'll fill out the form.

[2019-08-09 11:57] Cris-F commented on #20
Hi Tony,
Yes, I had a failed swap on 0.1.53.  I didn't get the red screen on it though.
I just tried a to buy ETH with BCH.  Failed on step 2/3.
I'll fill out the form.

[2019-08-09 16:58] dudezmobi opened #72 "Error after opening app then proceding to trading"
Android device on slow internet

-Currently doing a Trade
-switched between another app
-reopen atomicdex
-open trading menu

this happened

*cannot reproduce issue on IOS

![Screenshot_20190810-005607](https://user-images.githubusercontent.com/37325051/62795696-e43fd880-bb09-11e9-91a0-71f00c2b25ca.png)

[2019-08-10 09:40] tonymorony commented on #72
Thank you for report.
What version of the application are you using? @dudezmobi

[2019-08-10 11:31] dudezmobi opened #73 "EtH to KMD failed but eth balance lost"
Check swap id.
![Screenshot_20190810-192936](https://user-images.githubusercontent.com/37325051/62821305-63ceb580-bba5-11e9-84c1-0bf4a455e472.png)
287182b5-c2d4-4ea6-a973-43659c013059

[2019-08-10 11:36] dudezmobi commented on #72
this issue was submitted with 0.1.5 version

[2019-08-10 13:08] tonymorony commented on #72
This issue should be not actual on 0.1.6, feel free to re-open issue if it's reproducible on 0.1.6

[2019-08-10 13:08] #72 closed

[2019-08-10 14:11] tonymorony commented on #73
@dudezmobi could you please use "Settings -> Send Feedback" option and attach app logs?

Can't see information about this swap on the seed node

[2019-08-10 16:36] dudezmobi opened #74 "Orders not shown"
Ver 0.1.6  unfulfilled orders are not displayed. Pending swaps also not displayed.

[2019-08-10 20:31] tonymorony commented on #74
Could you please provide a little bit more details please? In what case order is unfulfilled and where it's not displaing? Are you acting as maker or taker?
Some screenshots might be helpful too.

[2019-08-10 22:16] dudezmobi commented on #74
![Screenshot_20190811-060652](https://user-images.githubusercontent.com/37325051/62827298-e20b7600-bbfe-11e9-92e8-90886a1e9c47.png)
![Screenshot_20190811-060657](https://user-images.githubusercontent.com/37325051/62827301-eb94de00-bbfe-11e9-93be-4b50f556ca6c.png)
![Screenshot_20190811-060704](https://user-images.githubusercontent.com/37325051/62827302-f2bbec00-bbfe-11e9-9f67-3157170a4184.png)

Bot

[2019-08-11 07:12] ca333 commented on #74
@dudezmobi manually delete and reinstall the application from playstore

[2019-08-11 07:12] #74 closed

[2019-08-11 07:35] dudezmobi opened #75 "[bug] clean update through playstore"
During rollout of updates. Need to uninstall previous versions to work properly.

[2019-08-12 00:50] dudezmobi opened #76 "Inputting sell value autocompletes to max"
Android version 0.1.6
On trade screen.

SELL field.

Entering highest whole number value of an asset autocompletes the max value. (Including the decimal values)

[2019-08-12 00:54] dudezmobi opened #77 "Need to reAdd assets after logging off"
Android
Version 0.1.6

I got vrsc, eth, kmd, rick, morty on my assets

I logged off then logged in again.

Eth and vrsc disappeared from my assets, i need to readd them again

[2019-08-12 01:56] tonymorony commented on #76
@dudezmobi I was not able to reproduce. Please note that transaction and taker fee reducing also so `whole balance = sell field + taker fee + transaction fee`

[2019-08-12 01:56] #76 closed

[2019-08-12 02:00] tonymorony commented on #77
Thank you for a report!
There is same https://github.com/KomodoPlatform/atomicDEX/issues/14 feature request, so I close this one.

[2019-08-12 02:00] #77 closed

[2019-08-12 02:14] tonymorony commented on #71
@gcharang from your screenshots it looks like that only transactions to "self" address not displaying. Could you please confirm that?
Also can you please send DASH transaction to self from AtomicDEX and from Agama and compare results in AtomicDEX tx history?

Just tried to send few DASH txs to self address in AtomicDEX and it displaying fine. (tx to self displaying as fee consumption) Maybe txs fr

[2019-08-21 14:33] dudezmobi opened #78 "Send feedback crashes on IOS"
IOS
atomicdex 0.1.6

Clicking send feedback terminates the application

[2019-08-21 14:45] tonymorony commented on #78
Thank you for report! Can confirm this issue (it's created in internal bug tracking system few days ago also)

[2019-08-23 15:02] dudezmobi opened #79 "App randomly crashes (closes) during Syncing"
IOS
Atomicde
x 0.1.6

App randomly closes during syncing/loading of ETH tx

![2019-08-23 23 01 45](https://user-images.githubusercontent.com/37325051/63602441-0b160880-c5fa-11e9-9365-32f14392df7f.jpg)

[2019-08-25 21:37] ca333 opened #80 "add ERC and SmartChain tag"
tag ERC coins with an "ERC" tag and SmartChains with a KMD icon.

[2019-08-25 21:38] ca333 opened #81 "coin activation filter/search field"
add a filter for the coin-activation view: search field + groupings checkbox (SmartChains, ERC)

[2019-09-02 11:29] dudezmobi opened #82 "Total asset display"
IOS and android
version 0.1.6

Total asset display includes NOT yet CONFIRMED transactions (sometimes double quantity during a consecutive swap) this is hard to reproduce during swaps but this happens

[2019-09-04 06:37] artemii235 opened #83 "Integrate "recover_funds_of_swap" API."
I've recently added [API](https://github.com/artemii235/developer-docs/blob/mm/docs/basic-docs/atomicdex/atomicdex-api.md#recover_funds_of_swap) to unstuck the [funds locked by some swaps](https://github.com/KomodoPlatform/atomicDEX-API/issues?q=is%3Aissue+is%3Aopen+label%3A%22funds+stuck%22).
Please consider adding the `recover/unstuck` button for failed swaps.
I'm also going to add the `recovera

[2019-09-04 06:41] artemii235 opened #84 "Add "import/export swap history or single swap" functionality."
Convenience feature allowing users to copy their swap history between different devices.
Also other use case: user has deleted swap data (app reinstall), but his funds remain stuck. We will send him swap status from seed node, user will import it and then unstuck the funds using `recover_funds_of_swap`.

[2019-09-04 11:39] dudezmobi opened #85 "History display wrong"
IOS and android
version 0.1.6

Transaction display error.
Swap was successful but history displayed it as swap failed.

![2019-09-04 19 34 52](https://user-images.githubusercontent.com/37325051/64251509-4d6d0d00-cf4b-11e9-9d37-a41e87d78114.jpg)
![2019-09-04 19 34 46](https://user-images.githubusercontent.com/37325051/64251510-4fcf6700-cf4b-11e9-82b1-dcb32f995138.jpg)

[2019-09-06 13:20] dudezmobi opened #86 "wallet from assets disappears after update"
ALL platforms
0.1.7

After updating, some coins/wallets randomly disappears (need to add again)

[2019-09-06 13:54] tonymorony commented on #86
Hi @dudezmobi Thank you for issue opening.

Could you please elaborate a little bit: after what actions coins disappears (what are the steps to reproduce the issue)?
Also what do you mean by `ALL platforms`?

Thank you in advance!

[2019-09-06 14:00] tonymorony commented on #85
As I can see from logs on the seed node this swap was actually failed with ` "type": "MakerPaymentSpendFailed"` error. (https://paste.ubuntu.com/p/Bjvf7jbZJ4/)

Have you actually received the komodo on some point? that's some kind of AtomicDEX-API bug if yes.

Anyway this issue not AtomicDEX GUI related. If you'll face such problem again please reopen this issue and I'll move it to AtomicDEX-API r

[2019-09-06 14:00] #85 closed

[2019-09-06 14:02] tonymorony commented on #82
@dudezmobi please elaborate with some at least approximate reproduction steps (what we need to do to reproduce, what we should expect and what is actually happening)

[2019-09-06 14:02] tonymorony commented on #81
Was implemented in 0.1.7

[2019-09-06 14:02] #81 closed

[2019-09-06 14:03] tonymorony commented on #80
Was implemented in 0.1.7

[2019-09-06 14:03] #80 closed

[2019-09-06 14:03] tonymorony commented on #75
should be fixed in 0.1.7 (there was another issue with interface stuck which was resolved and probably associated with this one)

[2019-09-06 14:03] #75 closed

[2019-09-06 14:09] tonymorony commented on #71
Closing this one - not able to reproduce

[2019-09-06 14:09] #71 closed

[2019-09-06 14:54] dudezmobi commented on #86
ios and android

any upgrade version

some previously activated coins becomes deactivated, need re-activate some coins again (but some coins are ok coming from the previous versions)

[2019-09-06 19:15] ca333 opened #87 "[feature request] orderbook page"
Add an orderbook page with all available orders (regardless of balances or activated coins)

[2019-09-06 19:16] ca333 commented on #87
proposed by jansako:

[2019-09-06 22:34] cipig commented on #87
Orderbook on CLI is visible regardless of the balance of the coin, the coin just has to be enabled.

[2019-09-07 00:17] dudezmobi commented on #82
1. Swap needs to finish until step 3. (ex. ETH to KMD)
2. Go back to PORTFOLIO total assets displayed in USD
3. The total USD value displays the PREVIOUS USD value PLUS the swapped asset which was not yet confirmed.

suggestion: after any swap (step 3) wait for ALL transactions to be confirmed before computing for total USD value

[2019-09-07 13:00] ca333 commented on #87
@cipig this is the atomicDEX mobile repo - the above feature request doesn't relate to the atomicDEX-API repo.

[2019-09-07 13:07] leto opened #88 ""Send feedback" is actually "send logfile""
Reported by a colleague:
[code]

Sending a log file might have metadata that the user should be warned about first. Also, we might also want a "send feedback" in addition to "send log"

[2019-09-07 13:09] leto opened #89 "Support Coinomi seedphrases"
A colleague attempted to use a Coinomi seedphrase and while it was seen as valid, no BTC balance was seen.

I wonder if this is actually a bug in "gap addresses" and not checking enough addresses for a balance, or genuinely looking at a wrong wallet prefix.

In any case, it would be amazing for AtomicDEX if all existing Coinomi users could sweep their funds away from a closed source wallet 🎉

[2019-09-07 13:15] ca333 commented on #88
Thanks for the feedback - will change the label to "Send Log File" and add a short popup that informs about the data it contains (for sake of privacy).

[2019-09-08 18:28] smk762 opened #90 "log in with seed phrase stuck at encrypting wallet"
Phone: Samsung S10e
To replicate: at enter unlock wallet screen, click on "sign in with seed phrase" beneath the login button. Enter seed on next screen and click confirm. For some reason, it asks for a new password creation, enter that and confirm. Read the TOS, click next. Here is gets stuck.

ADB logs:

[code]

[2019-09-09 04:14] tonymorony commented on #90
Thanks for report! Reproduced on my side by following same steps with exactly same crash and trace

[2019-09-11 04:56] artemii235 opened #91 "The logs generated by "Send feedback" button should contain flutter logs and swap statuses."
Version: 0.1.7-b3cc3b182 Android
Steps to reproduce:
1. Start app, ensure you have swaps in history.
2. Go to settings, click `Send Feedback`.
3. Open resulting file

Expected result: file contains MM2 logs, flutter logs and recent swaps statuses.
Actual result: file contains only MM2 logs, example is attached.
[mm.log](https://github.com/KomodoPlatform/atomicDEX/files/3598994/mm.log)
Having flutt

[2019-09-11 09:13] bitbybit commented on #90
I have the same problem on Xiaomi Mi MIX 2S

[code]

[2019-09-14 22:06] ca333 commented on #84
Submitted a related feature request https://github.com/KomodoPlatform/atomicDEX-API/issues/543

[2019-09-16 14:16] me2space opened #92 "Unable to get past the new seed phrase screen"
On a Samsung Galaxy S8, I'm unable to complete the new wallet creation since it doesn't make it past the new seed phrase screen.  I'm probably unable to scroll to see a button that should let me proceed.

[2019-09-16 14:31] tonymorony commented on #92
Hello and thank you for you report! This issue should be fixed in the next application patch which will be released soon

[2019-09-17 14:42] tonymorony commented on #92
@me2space should be fixed in 0.1.8
could you please recheck on your side?

[2019-09-17 14:43] tonymorony commented on #91
Fixed in 0.1.8

[2019-09-17 14:43] #91 closed

[2019-09-17 14:43] tonymorony commented on #90
Fixed in 0.1.8

[2019-09-17 14:43] #90 closed

[2019-09-17 14:45] tonymorony commented on #88
Label was changed and popup added in 0.1.8

[2019-09-17 14:45] #88 closed

[2019-09-17 14:45] tonymorony commented on #78
Fixed in 0.1.8

[2019-09-17 14:45] #78 closed

[2019-09-17 14:48] tonymorony commented on #86
Should be fine on 0.1.8
Please re-open with more info and logs if it is reproducible still

[2019-09-17 14:48] #86 closed

[2019-09-17 14:51] tonymorony commented on #79
Can confirm that random crashes in different tx history interaction cases were actual before 0.1.8, now it should be resolved

[2019-09-17 14:51] #79 closed

[2019-09-17 15:43] me2space commented on #92
It's working. Thank you!

On Tue, Sep 17, 2019, 10:42 AM TonyL <notifications@github.com> wrote:

[2019-09-17 15:48] tonymorony commented on #92
Glad to hear! Closing the issue as resolved

[2019-09-17 15:48] #92 closed

[2019-09-18 15:17] SirSevenG opened #93 "Pin code and Biometric protection overlap on phones with on-screen fingerscan"
Reproducable on OnePlus 7 Pro, probably other smartphones with on-screen fingerscan.

1. Enable both protection options
2. Close app
3.  Open app
4. Both fingerprint and pin unlock options are presented
5. User can type pin and use application with fingerprint icon displayed

Expected:
 - pin and fingerprint should not be asked at the same time (and overlap in UI)

Video example:
https://drive.goo

[2019-09-19 09:26] bartwr commented on #93
[ @SirSevenG off-topic: What screen recorder app do you use for Android? ]

[2019-09-19 14:13] SirSevenG commented on #93
[@bartwr AZ Screen Recorder]

[2019-09-24 10:40] dudezmobi opened #94 "Biometric scanning activating on non-supported IOS devices"
OS: IOS 12.4
Model: MD786J/A
Version 0.1.9

Finger print scanning is looking for finger print on non-supported IOS device

[2019-09-25 16:04] gcharang opened #95 "Withdraw button unresponsive if (amount being withdrawn + custom fee) > (amount available)"
An error message should be added or the withdrawal amount be adjusted automatically based on the custom fee set
![withdraw-custom-fee](https://user-images.githubusercontent.com/21151592/65618539-18009000-dfdc-11e9-860e-8b1af42740aa.jpg)

[2019-09-29 16:33] whitmorekevinj opened #96 "Portfolio Tab Bugged (v0.2.0)"
So I've been using the Android public beta of atomicDEX for about a week. Did my first atomic swap which was neat.

The issue I'm having is that after the latest update (0.2.0-e634e05ee) my balance is showing as zero and coins/tokens I've added to my portfolio are gone. Trying to add a coin/token again adds an empty space where it should be in the list.

It's probably just a bug with that tab, my

[2019-09-30 03:03] tonymorony commented on #95
@gcharang Thank you for report! This issue should be resolved in 0.2.0

[2019-09-30 03:03] #95 closed

[2019-09-30 16:24] gcharang opened #97 "The password confirmation screen for "Delete Wallet" says "Unlock wallet""
The text should mention that the confirmation of Password is needed for deleting the wallet. The current screen is no different from unlocking the wallet for login.

![photo6093677803062012160](https://user-images.githubusercontent.com/21151592/65897041-03513d00-e3cc-11e9-9b49-25d86a937624.jpg)

[2019-09-30 16:51] tonymorony commented on #97
This text is correct - you need to use password to unlock (decrypt) your wallet before the deletion.
And after you input the password there is confirmation popup "Are you sure you want to delete your wallet"

[2019-09-30 16:51] #97 closed

[2019-09-30 16:57] gcharang commented on #97
Of course the wallet needs to be decrypted before deletion. But the page doesn't signify that entering this password is only one step away from deleting the wallet.

If a user clicks the delete wallet button by mistake, why should a user enter his password without knowing exactly why they are entering it?

Each page should tell the user exactly what its purpose is, so the page that needs password

[2019-09-30 17:09] tonymorony commented on #96
Thank you for the report! Could you please send the logs (you can get it by "Settings -> Send logs" feature) if this problem is still actual on your side?
Have you tried to restart your app and/or use "Settings -> Logout -> Login" ?

[2019-09-30 17:35] whitmorekevinj commented on #96
I did try restarting the app and that didn't help. However logging out and back in seems to have reloaded everything just fine. Thanks!

[2019-09-30 17:48] #96 closed

[2019-10-01 12:18] dudezmobi opened #98 "Unlock Funds ETH to KMD"
Android
AtomicDEX 0.2.0

After clicking unlock funds the display is "KMD unlocked" or something like that but.. the coins i am unlocking is ETH

[2019-10-01 12:20] dudezmobi opened #99 "Failed swap causing to Lock funds"
Android
AtomicDex 0.2.0

During STEP 2 of SWAPPING, i switched applications and noticed my internet/wifi connection was transferred to a slower bandwidth after this my trade failed and funds locked

[2019-10-01 12:22] dudezmobi opened #100 "Unlock funds display (Improvement)"
there is a minimum confirmation before we can unlock funds but it does not make sense to the user (a display of numeric value and an error message "Too Early to unlock funds, wait until #######") it would be better if it is an estimated date or time

[2019-10-04 03:01] smk762 opened #101 "Order persists in orderbook after withdrawing funds"
First noticed this in CLI, reproduced in mobile app.
Steps to reproduce:
- create an order manually
- withdraw funds from wallet
- check orderbook. Order remains in book, though the funds required to complete the order are no longer in the wallet.

[2019-10-04 21:23] dudezmobi opened #102 "Paste address on SEND field"
AtomicDex 0.2.0
Android

PASTE context menu does not appear during sending funds to other wallet

0. Copy RECEIVER wallet address
1. Open atomic dex
2. Open wallet
3. Choose any ASSET
4. Choose SEND
5. Input MAX value
6. PASTE receiver address
7. Erase receiver address (simulate there is a mistake, use backspace)
8. PASTE receiver address again, PASTE context does not appear

[2019-10-04 21:45] dudezmobi commented on #99
Seems to be happening more often on ETH trades (RICK and MORTY, KMD and VERUS never happened)

[2019-10-04 21:50] dudezmobi opened #103 "[OTH issues] listing fee issue"
logging this in behalf of Carsen#3333

"It does just really really sucks for us smaller cap cryptos that have been hard at work for the past two + years that dont get funding like that
Just a big slap in the face"

You need to work with people in this space instead of cutting them off because they dont want to pay your $6.5k fee

[2019-10-04 21:54] dudezmobi opened #104 "New feed not updated for 3 months"
News feed not updated, no info on release and open and fixed issues.
Need to login to discord to know that there are updates.

[2019-10-04 21:55] carsenk commented on #103
Thanks @dudezmobi

To sum it up.

Cost to a developer to list their cryptocurrency on the atomicDEX GUI = $6,500.00 USD

Funding paid to a developer to develop a real cryptocurrency without an ICO = $0 USD

Cost of setting up and maintaining an SPV electrumx server = Roughly $5-10 USD per month

Cost of setting up integration with atomicGUI with a cryptocurrency already operating on the underlying

[2019-10-04 21:55] dudezmobi opened #105 "Share Log file too big to send in Discord"
Log file is too large to share on discord (not using nitro)

[2019-10-04 22:06] dudezmobi opened #106 "[Usability] Unlock Funds error display closes quickly"
Error display closes quickly, users have not finished reading the error message yet.

[2019-10-04 22:11] dudezmobi opened #107 "[Usability] Language Selection"
language selection is hard to use by non english user, please try to copy method of how Google give user ability to chose language

[2019-10-04 22:19] dudezmobi opened #108 "[Usability] Japan language suggestion"
Japanese users requested to add 日​本​語 in laguages

[2019-10-04 22:28] Cris-F commented on #108
I believe that the app has been translated into Japanese already.
I have experienced one user (live) not be able to use Japanese.  There phone was set to Japanese.
Will investigate.
@dudezmobi where did you see the Japanese user request?

[2019-10-04 22:31] dudezmobi opened #109 "Sorry, ETH not available intermittent"
AtomicDEX 0.2.0
Android and IOS

Intermittent error, sometimes Sorry ETH not available is displaying (tried on different mobile devices at the same time, one user proceeds, other has this display)

[2019-10-04 22:33] ca333 commented on #109
fixed in 0.2.1 - coming out shortly

[2019-10-04 22:37] ca333 commented on #103
For sake of transparency and to provide some background info:

<img width="850" alt="Screenshot 2019-10-04 at 23 59 10" src="https://user-images.githubusercontent.com/10762374/66242935-fbaed280-e702-11e9-902f-84830e534f22.png">
<img width="817" alt="Screenshot 2019-10-04 at 23 56 46" src="https://user-images.githubusercontent.com/10762374/66242791-ae326580-e702-11e9-893a-108dda51b843.png">
<img wi

[2019-10-04 22:37] #103 closed

[2019-10-04 23:32] dudezmobi commented on #108
its on IOS native language is japanese, IOS ipad A1474. no japanese language selection and the screen eventhough is english

[2019-10-04 23:36] Cris-F commented on #108
OK, I'll try today on android. Maybe @tony, @gcharang or someone can check out the tech when they have a chance.

[2019-10-05 00:01] carsenk commented on #103
lol, this issue is certainly not resolved.

[2019-10-05 09:05] tonymorony commented on #98
Can you provide swap UUID and app log after unlock if possible?

[2019-10-05 09:06] tonymorony commented on #99
Can you provide swaps uuid(s) and app logs? For now from issue description it's not clear what exactly problem is.

[2019-10-05 09:10] tonymorony commented on #108
Japanese language is not added yet. I'm closing this issue since there is already one related to translations implementation: https://github.com/KomodoPlatform/atomicDEX/issues/69
@ca333 fyi: there are multiple requests for Japanese language translaton ^^

[2019-10-05 09:10] #108 closed

[2019-10-05 09:14] tonymorony commented on #102
Thank you for the report.
Pasting problems in some cases / to some fields is known issue at the moment (there are some glitches in Flutter framework as far as I know). It'll be fixed in future releases from our or framework side.

[2019-10-05 09:14] tonymorony commented on #106
Thank you for the issue.
Now this message is displaying for a 3 seconds. How do you think - what is the optimal non-annoying time?

[2019-10-05 09:19] tonymorony commented on #101
Thank you for the issue.
However, it is not a directly GUI issue and it seems that it's better to resolve it on protocol side (if there is easy solution for sure). From other side it's possible to add handler to GUI if it's hard to implement in API.
Moving this one to relevant repo for evaluation (sorry in advance if it's duplicate)

[2019-10-05 12:19] dudezmobi commented on #98
ffd535b6-dc49-48d5-b72b-388b6af139a1

Cannot export log in discord. I dont have nitro so my file size is limited. Log is already very big.

[2019-10-05 12:24] dudezmobi commented on #99
Please coordinate with otherr members gcharang as we have discussed the issue in detail. 019878b2-04a0-4772-8014-913633dbd8d1
ffd535b6-dc49-48d5-b72b-388b6af139a1
 Also it would be much better to have info the soonest possible its logged. Already 4 days ago. Did a lot of thingz on that time frame so you wont be getting good info from a user

[2019-10-07 15:20] whitmorekevinj opened #110 "[Android] Version 0.2.1 Doesn't Open"
After updating to version 0.2.1 from 0.2.0 the app only shows a black screen when opened. My device is a Pixel 2 XL running Android 10.

I've tried forcing the app closed and opening it again, as well as restarting the phone with no luck.

[2019-10-07 15:23] gcharang commented on #110
hey, the issue is known. there were a few backward incompatible upgrades. a clean reinstall should fix the issue. make sure to backup your seed phrase

[2019-10-07 15:35] whitmorekevinj commented on #110
Yep, that did the trick. Thanks.

[2019-10-07 15:57] #110 closed

[2019-10-11 08:23] dudezmobi opened #111 "Not clean update"
Os android
Atomicdex version 0.2.1

After updating from playstore BLACK screen happens and cannot continue operation.

need to uninstall application to fix issue.

[2019-10-15 09:55] gcharang opened #112 "french translation for "Select a coin" is too long and causes the input field for amount to be too small"
Suggestion: use an alternate translation that has fewer characters.

The suggestion in the issue https://github.com/KomodoPlatform/atomicDEX/issues/70 will be helpful in this case too.

![Screenshot_2019-10-12-09-02-35-755_com komodoplatform atomicdex](https://user-images.githubusercontent.com/21151592/66821045-66f87000-ef5f-11e9-9549-c54262e7e18d.png)

[2019-10-16 17:03] Nythiennzo commented on #112
Can I change it to "Sélectionnez une monnaie" or "Choisissez une devise"?

[2019-10-16 19:29] ca333 commented on #112
How about "Choisissez devise" ? That would fit properly.

[2019-10-16 20:10] phm87 commented on #112
If a french speaker reads "Choisissez devise", he can think that a word was forgotten: "Choisissez **la** devise". I'll propose another translation if I found one (I'm native french speaker).

I heard that some dictionaries to translate laws and papers at EC have translation with the same number of words and/or characters. The aim is to have to be at the same page number when you read a text in al

[2019-10-16 22:36] ca333 commented on #112
What would you propose as a native french speaker? (something short and simple)

[2019-10-26 20:23] lilszi opened #113 "REL amount incorrect in orderbook after deleting decimals of already selected BASE coin when creating new order"
How to Replicate:

Select any coin to trade (base) that has decimals in the amount you have, put max volume

Select the coin you want to receive (rel) , don't select from orderbook, but press create order, enter any amount

Now go back and delete the decimals of the base coin and press Trade

Order will be pushed to the orderbook with an insanely large or a much smaller number for the REL coin tha

[2019-10-26 20:56] tonymorony commented on #113
Thank you for the report!
That is very dangerous/bad case.
Issue was reproduced and forwarded to developers team.

[2019-10-26 22:37] tonymorony commented on #113
@lilszi bug was isolated and fixed. Patched version will be available in approx 1-2 days

[2019-10-28 07:16] tonymorony commented on #113
fixed in 0.2.5

[2019-10-28 07:16] #113 closed

[2019-10-29 18:34] lilszi commented on #6
Then a better clarification about the time-frame they should wait for a swap/refund to complete.
If you know what i mean.
Basically nobody knows right now, except a few of us.

[2019-10-30 10:16] artemii235 commented on #84
@ca333 Related feature request was implemented some time ago, please check it and let me know if it works fine.

[2019-10-30 13:43] ca333 commented on #84
Thank you very much @artemii235 - we will integrate this feature and the "export/import" wallet functionality for the coming mobile app 0.3.0 release. Will let you know how it goes.

[2019-10-30 16:32] ghost opened #115 "Sending coin amounts larger than five figures causes atomicdex to erase typing"
Sending any coin from atomicdex that are over five figures causes software to erase typing and forces to only send amounts of 4 figures at most.

[2019-10-30 17:21] tonymorony commented on #115
Looks similar to this one: https://github.com/KomodoPlatform/atomicDEX/issues/2
Investigating

[2019-10-31 10:22] SirSevenG commented on #112
Similar issue with russian translation.
While it's just fine with at least 1080p screen resolution, on smaller screens(and so older devices) "MAX" button is too big, so it shrinks input field.

User-submitted screenshot:

![](https://i.imgur.com/SEHkpmj.png)

It should be sufficient to change "МАКСИМУМ" to simply "МАКС" or even just keep it "MAX" as in english.

[2019-10-31 11:47] dudezmobi opened #116 "Trade order value"
OS: android

Some value displays as 1.0000 some.orders display as 1.0    same value but different display

[2019-11-01 12:08] ca333 opened #117 "[feature request] reward hint if balance < 10 KMD"
Suggestion from Acura:

[2019-11-05 12:08] ZaferGraph commented on #23
I pulled Turkish one.

[2019-11-11 09:51] mercadinaut opened #120 "Trade screen UX improvement"
I have been using the Atomic DEX app for a while now and have made a number of successful trades. It is really easy to use and the UX is generally fantastic. I do have one important piece of feedback on the trading interface, however.

You need to add the balance of each holding to the main trade screen when a sell or buy order is entered on the trading screens. Currently nothing is shown (at leas

[2019-11-11 15:58] CryptoMarkus opened #121 "[Feature Request] Option to change base currency for total portfolio"
I think it would be great to have the option to be able to change the base currency displayed in the portfolio section.

At this moment its just displayed in USD, i would like to be able to choose between most of fiat currencies and even some cryptocurrencies like BTC and KMD.

[2019-11-11 19:08] Bitfinger opened #122 "Market summary tab"
It would be helpful to have a tab which shows some of the current markets where clicking on one would take you to that market to place a trade... similar to: https://global.bittrex.com/home/markets

I appreciate there are a lot of potential pairs to display, but perhaps you could list the KMD and LTC (fast blocks, high liquidity) pairs.

[2019-11-11 19:11] Bitfinger opened #123 "Eye icon on password page is incorrect"
It shows the text when the eye is crossed out and visa-versa: http://imgur.com/a/HYcqq7k

[2019-11-13 06:41] lilszi opened #124 "BTC Swap status displayed incorrectly (timeout)"
Had a BTC/KMD swap, where due to long BTC blocktimes, swap was showing "timeout" after roughly 3 hours just like with other coins, but it eventually went trough shortly after that and changed to successful.
I've been told BTC has 10x locktime than other coins, so this could be a UI discrepancy or false data from mm2? It should not show "timeout" if it's not actually timed out for good.

[2019-11-13 09:55] garnon opened #125 "QR scan from Agama Invoice not working"
Repro steps:
- In the Agama wallet, create a KMD invoice, select an address and enter an amount.
- Scan the generated QR code with the AtomicDEX (KMD coin, send, camera icon)

Result:
The scanned information is not translated into filling the address and amount fields.

[2019-11-13 11:51] garnon opened #126 "Wrong sorting of orders"
Usually, the orders in atomicDEX are sorted by descending price, meaning the best offer is right at the top. However, in some circumstances (not reproducable, but see attached screenshot), a worse price is listed at the top, breaking a proper sorting by descending price.

This is dangerous since some users will always pick the top offering assuming it's always the best offering they can get, and t

[2019-11-13 12:11] garnon opened #127 "Impossible to view one's order in the context of other orders"
Let's say I have only KMD in my atomicDEX wallet and want to trade it for ETH. Let's say I'll look at the available orders and decide that the offers do not satisfy me. So I decide to create an order myself and want to see "the other way round" which offerings there are already, so what would be a reasonable price for me to offer. So I return to the trade tab, pretend I would sell ETH for KMD (whe

[2019-11-14 16:04] garnon opened #128 "Incomplete / incorrect German translation - suggestions"
Here are some suggestions from me as a native German guy with lots of GUI design experience:

Portfolio Tab:
- Replace "n Assets" by "n Vermögenswerte".
- Replace "Claim your rewards" by "Belohnung einfordern", or "Lohn einfordern" (if too long).

DEX Tab:
- Replace "transaction fee" by "Transaktionsgebühr".
- Replace "trading fee" by "Handelsgebühr".
- Replace the big "HANDEL" button (to start th

[2019-11-15 10:51] garnon commented on #126
Here's another example. Notice the descending price sorting with the exeption of the top entry:
![wrong_sorting2](https://user-images.githubusercontent.com/25053375/68938187-20847400-079e-11ea-8b09-72bff6d93554.png)

[2019-11-15 10:56] garnon commented on #126
Looks like the price "0.01" is causing a sorting problem, as can be seen both examples?

[2019-11-17 16:59] TylorRoss opened #129 "Scrolling problem in wallet transactions"
Wallet transaction keep resetting to to first transaction while scrolling through history

[2019-11-24 14:49] SirSevenG commented on #129
Can you please explain in more details?
AE: step-by-step reproduction and if possible screenshots.

[2019-11-24 15:32] ghost commented on #129
When you have a lot of transaction history in atomicdex wallet with certain coin and you go through those transactions by scrolling down them and every time wallet is updating transactions from spv servers wallet reset view history to most recent transaction. This makes impossible to check transactions in that time period especially when there are lot of transaction to scroll down and search it in

[2019-11-24 16:31] SirSevenG commented on #129
@CryptoMark81 Thanks for info.
Will see what we can do with it.

[2019-11-24 16:57] SirSevenG commented on #127
Thanks for feedback.
I believe addition of general orderbook, as mentioned in #87 will fix it.
It is planned for future releases.

[2019-11-24 17:01] SirSevenG commented on #128
Hello again, thanks for report.
Will mind your feedback in future translation improvements.

[2019-11-24 17:02] SirSevenG commented on #125
Hello again.
We will need a bit more info to investigate this issue.

Do you use Verus Agama wallet? What exact version?

[2019-11-24 17:07] teedan commented on #125
Hi, could you reproduce it? I've just reproduced the error once again. Agama version 0.5.9-2, atomicDEX version 0.2.7 on iOS.

[2019-11-24 17:09] teedan commented on #125
After scanning the QR code, the following string is put into the address field:
{"address":"R...","amount":"1","coin":"KMD"}
which is not accepted as a valid address.

[2019-11-24 17:11] teedan commented on #129
I can confirm this problem with 0.2.7 on iOS. It's impossible to view old KMD transactions since after scrolling down to them, after 1-2 seconds, the page "resets" itself and jumps back to the newest transactions.

[2019-11-24 17:26] SirSevenG commented on #125
Performs similarly for me.
QR scanner supposed to read QR address to send to. And it's what it does in a way - reads json in Agama QR and pastes it to Address field.
We will consider to add json scans support as feature.

[2019-11-24 17:29] SirSevenG commented on #126
Much thanks for report, reproduced.

[2019-11-24 17:29] teedan commented on #125
I had another instance with a QR code generated from an older version of the Ledger Live App (the wallet software for the Ledger Nano S hard wallet). After scanning its QR code, a string like
komodo:R...
was put into the address field which was also not a valid address. Not reproducable with the latest version of Ledger Live app anymore, however. But still maybe something to consider.

[2019-11-24 21:49] SirSevenG commented on #124
Thanks for info, much appreciated.
Similar concerns were raised in Dex-api repo:
https://github.com/KomodoPlatform/atomicDEX-API/issues/568

Will see what can be done.

[2019-12-17 18:27] gcharang opened #131 "Give a hint to a user about unlock Time when swap times out or fails"
Indicate the approximate amount of time to wait for the coins to be available for a swap again.

[2019-12-26 09:30] fresheneesz opened #132 "The password requirements are bad"
The android app asks for a password that is at least 12 characters long, contains an upper case and lower case letter, and a special character. These are the ultra-common password requirements (plus a longer length requirement) and they are pretty [bad advice](https://www.tomsguide.com/us/password-advice-wrong,news-25617.html) for a strong password. Easy to forget, easy to guess, all around bad.

[2020-01-24 03:31] ArtemGr commented on #132
This issue of XKCD might be missing the dictionary attacks. Or maybe the thought-provoking and artistic goals are in the forefront here and not the actual security of plain English passwords.

[2020-01-24 06:54] fresheneesz commented on #132
Nope. As discussed [here](https://protonmail.com/blog/protonmail-com-blog-password-vs-passphrase/), "XKCD assumes the attacker knows the user has generated a passphrase by choosing four of the most common (top 2,048 in this example) dictionary words at random. Even so, the passphrase contains more entropy than the password."

[2020-01-24 17:18] ArtemGr commented on #132
That might still depend on the calculations I guess. The article you cite says that in a password with special characters there can be 94 variations per character, which gives us
94^12=475920314814253376475136
which seems like more entropy than, again from that article, four of top 2048 words
2048^4=17592186044416

Looking at http://ascii-table.com/ the number 94 seems reasonable.
If we use a wide

[2020-01-25 01:42] fresheneesz commented on #132
That is unlikely to be the case. As the XKCD comic discusses, the additional entropy gained by requiring capital letters, numbers, and special characters is usually extraordinarily limited because of human psychology (not combinatorics). The password Tr0ub4dor&3 is really a single word with common additions and substitutions, which is what you get when a normal person makes up a password. A capita

[2020-01-28 13:25] ArtemGr commented on #132
On a related note, in our "wallet unlock" screen the password field does not currently allow to *paste* a password, which prevents the random passwords from being used via the [password managers](https://lifehacker.com/the-five-best-password-managers-5529133).
The "view seed phrase" action doesn't have that limit, so it might be an accidental behavior on our part.

[2020-01-29 20:18] cipig opened #133 "warn user if local clock not in sync"
Saw couple of swaps failing because of `taker_swap:541] Started_at time_dif over 60 67` and the user is retrying several times. The app should warn the user that his clock is not in sync (compare local clock with some known time source on app startup).

btw, when a swap fails like this, the node is banned

[2020-01-31 09:41] gcharang opened #134 "Blank screen error in iOS when the KMD claim rewards screen and iOS battery popup coincide"
From discord user Vanncoins:

"6:24 AM]Vanncoins:Just discovered a rather unique & rare bug in AtomicDEX: I tapped to claim rewards (Komodo), and as it was loading, my iPhone reached 10% battery and the pop up to warn me and offer to switch to low power came up. I chose to switch to low power but when the pop up went away, AtomicDEX interface went fully black screen, had to exit the app and reopen

[2020-02-11 17:53] bitwin45 opened #135 "Unlock Funds not possible"
Hi,

I can‘t unlock my funds after a swap timeout.
OS. Android,  atomicdex 0.2.13
By pushing unlock Button, I get a weird Info
![DE035C20-D8F3-4119-B902-3FB999962BE3](https://user-images.githubusercontent.com/60938066/74263780-c2651f80-4cff-11ea-92d5-a435c7abd0a0.jpeg)

[2020-02-11 19:01] tonymorony commented on #135
Hello and thank you for issue creation!

 Could you please DM full swaps UUIDs and application log (Settings -> Send log) to my Discord account on https://komodoplatform.com/discord server : @TonyL (272003866906722306) to find out why recovery message parsing like this. Most probably you'll need to wait till the next patch because bigger tx fee is needed for refund as well:
after RVN hardfork txfe

[2020-02-11 19:39] bitwin45 commented on #135
Thx for quick response,
Need Discord Acount first, most probably tomorrow,
...( wait before next RVN trade) yes, Sending  RVN also not longer possible ... message: Try again later!
cu

[2020-02-11 23:19] ArtemGr commented on #135
Seen this error before but couldn't reproduce (e.g. after a few attempts this particular error message went away).

[2020-02-12 07:17] ethanquix opened #136 "Special Character `_` not considered as a special character for the password requirements"
During the account creation, when you need to create a password, the special Character `_` is not considered as a special character which makes the in password requirements not fulfilled

[2020-02-12 07:32] damascene opened #137 "Show more infomration about ongoing swap"
I think it would be useful to have more verbose output from the swapping process.
Currently it shows "swap onging" 0/3 1/3 2/3 3/3
This can give a little insight on what is going on, why it's taking long at one stage and what issue that caused a failure if it happens.

I suggest as an example something like this:

- matching orders
- partner got disconnected (failure)
- waiting for confirmation on

[2020-02-29 09:41] gcharang opened #138 "Feature request: Auto enable all coins with balance above a preset fiat value"
Allow users to set a minimum fiat value in the settings. If set, the app should query an API(maybe dexstats.info or other explorers) for balances of all supported coins based on the pubkey and then multiply the balance with the respective fiat prices. If the fiat value of the balance of a coin exceeds the value set in the settings, the coin should be enabled and displayed in the portfolio tab.

[2020-05-08 14:03] theblackmallard opened #139 "Notification/indicator if locktime not set"
A feature to spot KMD balances that don't have locktime set and notify the user.

For example a little red ! icon/bubble next to the balance with an explanation on how to set it. This may require additional criteria for displaying the "claim rewards button". Swap the "claim rewards" logo with a "!" logo when there is KMD not accruing rewards, you click on it and it tells you there is N amount of K

[2020-05-13 15:31] theblackmallard opened #140 "Cache previous balances, interaction during "activation""
It was brought up on Telegram that the app is slow on startup "activating coins" this is likely just a feeling of it being slow because there is no interaction with the app during "activation". A solution to make this feel faster would be to skip the "activating N coin" loading, and jump right to coin balances from the previous logout.

Most users just logging in aren't expecting to see different

[2020-05-14 09:28] gcharang opened #141 "Discourage users from using the same seed words in two different instances of AtomicDEX at the same time"
A warning in the GUI might do the job. It could be either in the seed creation screen or in the case of custom seed words, the seed input screen.

[2020-05-14 12:04] ArtemGr commented on #141
@gcharang using the same seed on different devices is a use case I'd like to support actually. We're going to have a way to offload orders to a server component, and as a side-effect there might also be an option to move orders between devices, or a kind of HA

[2020-05-14 12:16] artemii235 commented on #141
While such option is possible It might be quite hard to support it especially when it will come to the point when devices will need to decide which one should run the swap and send transactions, all possibilities of double sending the payments must be thoroughly checked and eliminated.

[2020-05-14 12:34] ArtemGr commented on #141
Not going to transfer the active swaps, at least in the first run, just the Maker orders and likely the swap history, but we'll have the facilities necessary to check that a coin pair is served by only a single instance of the app.

[2020-05-16 18:15] whitmorekevinj opened #142 "Black Screen"
Whenever I open the Android app I just get a black screen. Can't do anything with it. Latest version of AtomicDEX and latest version of Android 10 on a Google Pixel 2 XL.

[2020-05-17 01:15] gcharang commented on #142
Hello! can you please collect adb logs of your app using a desktop? Here is a how-to: https://docs.komodoplatform.com/qa/adb-logcat.html

If a step isn't clear, I can guide you either here or you can message me (gcharang#6833) in the Komodo Discord server at https://komodoplatform.com/discord

Cheers!

[2020-05-17 17:23] whitmorekevinj commented on #142
I ran adb while the app was stuck on the blank screen and it actually triggered the biometrics login prompt. The app is working fine now when I open it again.
[atomicDEX-log.txt](https://github.com/KomodoPlatform/atomicDEX/files/4640666/atomicDEX-log.txt)

[2020-05-18 05:45] gcharang commented on #142
@ArtemGr could this black screen be caused by the mm2 binary update?

[2020-05-18 05:47] tonymorony commented on #142
As an idea - maybe another GUI instance worked in background caused problem after update. Usually it worth to try all apps stop and/or phone reboot in case of problems on startup. I think it'll be hard to hunt this one since it's apparently started to work fine on your side.

[2020-05-18 20:02] ArtemGr commented on #142
@gcharang Most likely. We are refactoring the startup sequence to track the progress of MM checks and updates in the UI.

[2020-05-19 05:52] BloodyNora commented on #142
seems to be a first-time run problem only. after i reported to `gcharang` on discord the other day, the issue refused from showing again. clearly a heisenbug :-D. i gave it 20+ restarts since then, at least.

[2020-05-23 19:31] tonymorony commented on #14
This was implemented

[2020-05-23 19:31] #14 closed

[2020-05-23 19:39] tonymorony commented on #137
Thank you for your suggestion and issue creating! 👍

It was implemented so I'm closing this one

![paste (2)](https://user-images.githubusercontent.com/24797699/82739185-c1647500-9d67-11ea-84bd-891643af95a1.png)

[2020-05-23 19:39] #137 closed, assigned to nobody

[2020-05-23 19:40] tonymorony commented on #135
This one should be fixed

[2020-05-23 19:40] #135 closed, assigned to nobody

[2020-05-26 13:21] dth88 commented on #140
@theblackmallard hi, thank you for this report. We're already in the process of trying to make it feel faster, hopefully, we will deliver in the next update.

[2020-05-26 21:12] dth88 commented on #136
@ethanquix thank you for the report, we will look into this.

[2020-05-26 21:18] dth88 commented on #131
@gcharang thanks, we will look into it :)

[2020-05-26 21:19] dth88 commented on #123
@Bitfinger thanks, we will look into it!

[2020-05-26 21:24] dth88 commented on #121
@CryptoMarkus thanks, this is currently in work, we are planning to do a switch button similar to how it is done in blockfolio app.

https://github.com/ca333/komodoDEX/issues/750
also related https://github.com/KomodoPlatform/atomicDEX/issues/16

[2020-05-26 21:24] dth88 commented on #122
@Bitfinger thanks for this feature request, we will look into it!

[2020-05-26 21:28] dth88 commented on #116
@dudezmobi hi, thanks for the report, we will look into it in the near future.

[2020-05-26 21:29] dth88 commented on #111
@dudezmobi thanks, we are looking into this, probably related to this one https://github.com/KomodoPlatform/atomicDEX/issues/142

[2020-05-26 21:31] dth88 commented on #107
@dudezmobi thanks, we are currently working on some UX tweaks, we will look into this.

[2020-05-26 21:32] dth88 commented on #105
@dudezmobi thanks, I will look into this in the next few days.

[2020-05-26 21:34] dth88 commented on #104
@dudezmobi I'm currently syncing all the issues so you will be able to see up-to-date info here and later in the news section of the app.

[2020-05-26 21:36] dth88 commented on #100
@dudezmobi thanks, ill look into this in the coming days.

[2020-05-26 21:38] dth88 commented on #89
@leto I believe this might be in work currently... I'll look into this in the coming days and update this issue.

[2020-05-26 21:42] dth88 commented on #65
@jorisvial thanks for your input, we are currently re-thinking the UX, we will look into this for sure.

[2020-05-26 21:44] dth88 commented on #43
@rodent-test thanks, we will look into this in the near future.

[2020-05-26 21:46] dth88 commented on #28
@Milerius thanks, we are currently re-thinking the UX, we will definitely look into this.

[2020-05-26 21:46] dth88 commented on #17
@himu007 thanks for your input, we will definitely look into this.

[2020-05-26 21:51] dth88 commented on #120
@mercadinaut thanks, we will look into this in the near future!

[2020-05-26 21:55] dth88 commented on #139
@theblackmallard thanks, we are looking into it :)

[2020-05-28 08:47] tonymorony commented on #125
Would be great to check if it's actual with current Verus Desktop (since Agama is deprecated) and create relevant feature-request in GUI repo if it's the case @SirSevenG

[2020-05-28 08:48] tonymorony commented on #87
Thats available since 0.2.14

[2020-05-28 08:48] #87 closed

[2020-05-28 08:49] tonymorony commented on #127
Thats available since 0.2.14

[2020-05-28 08:49] #127 closed

[2020-05-28 08:49] #109 closed

[2020-05-28 09:02] tonymorony commented on #82
Balances fetching process was re-factored
@dathbezumniy could you please check if this one is actual on last version of mobile GUI?

[2020-05-28 09:03] tonymorony commented on #126
This one was fixed in 0.2.14

[2020-05-28 09:03] #126 closed

[2020-05-28 09:07] tonymorony commented on #105
On current version of mobile GUI log file max size is limited by 1024 KiB so this one should be resolved

[2020-05-28 09:07] #105 closed

[2020-05-28 09:10] tonymorony commented on #129
I think I've noticed issue with same behaviour to described in this issue while used the wallet with huge amount of transactions.
@SirSevenG please make a wallet with huge amount of txs in tx history and try to navigate as users described above

[2020-05-28 09:12] tonymorony commented on #112
@SirSevenG Please check it on actual app version and create cross-linked relevant issue in GUI repo with needed information

[2020-05-28 09:42] tonymorony commented on #123
Thanks for the issue creation

for one person crossed eye means that on press it text will hide (motivation to hide), for another person it means that text is hidden right now (motivation to display hided).
so visual experience important and now if user press on this button text hide/unhide so I don't think that eye icon will change something and that there is any issue.

@Bitfinger Could you plea

[2020-05-28 11:08] smk762 commented on #133
`orderbook` rpc returns a timestamp (at a glance the only one to do so that doesn't involve trading).
This timestamp appears to be same as device time (expressed in UTC) -
[code]
[code]
vs
[code]
`1590664108`
`Orderbook` rpc needs two activated coins, but so does ordering, so check could be done before trading.
Check could be via gui with something like - https://pypi.org/project/ntplib/ if a py g

[2020-05-28 11:15] smk762 commented on #133
This rust crate should work - https://crates.io/crates/sntpc

[2020-05-28 12:17] tonymorony commented on #93
@SirSevenG Pincode input page was reworked - could you please check if it's actual now on this device?

[2020-05-28 21:24] dth88 commented on #82
@tonymorony just finished with this test on iOS (KMD<=>RFOX), the good news is that no weird total assets value fluctuations were noted on any stage of the swap but at the end of the swap (Stage 3 I suppose), the unconfirmed transaction was indeed put in the total asset value before it was confirmed. So the issue is still there if it was about the unconfirmed transaction being in the total asset p

[2020-05-28 22:02] tonymorony commented on #82
Thanks for the research @dathbezumniy 👍
it looks like a feature request for confirmed / unconfirmed balances separation, lets keep this one

[2020-05-28 22:23] tonymorony commented on #140
`We're already in the process of trying to make it feel faster, hopefully, we will deliver in the next update.`

Coins activation process was already patched in 0.2.16 by new Atomicdex-api batch method usage - now it works really fast

Balances information caching is definetly an interesting idea

[2020-05-30 18:28] theblackmallard opened #143 "New order set price per coin"
Recommendation from Telegram: When making an order on empty orderbook, or just setting your own price, you should be able to set the price per coin you'd like to receive (or better) for the amount of coins you are trying to sell. Instead of just putting in the amount of coins you'd like to receive.

Steps:
select coin to sell
select amount to sell
select coin to receive
select satoshi amount per c

[2020-05-31 08:39] SirSevenG commented on #112
https://github.com/ca333/komodoDEX/issues/784

@tonymorony Russian translation was fixed, french still has exact same issue with translated phrase.

[2020-05-31 14:33] dth88 commented on #122
closing the issue since we've implemented Markets tab in 0.2.16

[2020-05-31 14:51] dth88 commented on #138
@gcharang can you elaborate here please, why is that needed? It would help if you give some context. Did the app feel slow with many coins activated and this is the way you propose to make it feel faster by getting rid of 0-balance coins?

[2020-05-31 15:01] dth88 commented on #143
@theblackmallard thanks for the feature request, we will have a closer look at how this should be done in the future.

[2020-05-31 15:43] tonymorony commented on #122
Markets tab displaying a little bit different thing: average USD rate among the exchanges taken from coingecko API endpoint

If I understand correct (@Bitfinger please correct me if I'm wrong) this issue related to overview page with `AtomicDEX` pairs and last prices

similar to:

![image](https://user-images.githubusercontent.com/24797699/83356372-f5efb680-a38f-11ea-872a-bf5aa9947c24.png)

so re-

[2020-05-31 15:47] gcharang commented on #138
context: https://discord.com/channels/412898016371015680/584762059430821909/682943946418028574
posting the message here:

this is so that users will know all the coins that they own above a certain value. right now there is no easy way to know which coins even have balances. to know balances, the coins need to be first enabled in mm2, and if some don't have any balance, they have to be disabled ma

[2020-05-31 15:51] tonymorony commented on #138
yeah, thats the real problem. I do not remember 100% of coins I got balance for too - and amount of coins will only grow in future.
Maybe as a resolution it's fine do display coin balances on this screen and/or have button like a "Activate all coins with >0 balances" there? 🤔 (just possible alternatives to detection/activation on seed restore stage)

![image](https://user-images.githubusercontent.

[2020-05-31 16:38] tonymorony commented on #104
Thanks for the issue opening. News feed is under re-work at the moment and will be availiable in one of the upcoming releases

[2020-05-31 17:05] SirSevenG commented on #129
@tonymorony Generally, app loads tx history in background without issues.
'Reset' to first 10 txes happens on bad response from SPV, at least it looks like.

[2020-05-31 17:40] SirSevenG commented on #125
@tonymorony Could not reproduce on latest android version.
Checked multiple QR codes generated with different apps (Verus Desktop, Atomic Wallet, AtomicDEX, etc).

[2020-05-31 17:49] SirSevenG commented on #93
@tonymorony Exact same behavior.
Additional note: on smartphones with dedicated fingerscan (not onscreen one), user will see pin code input page on app start. This way app can be unlocked either with biometrics or correct pin.
Just fingertip icon will not be present in UI, after pincode used.

It's quite arguable topic on how app should behave with both protection options enabled.

[2020-05-31 19:12] dth88 commented on #134
@tonymorony I tried to reproduce but no luck on my iPhone SE (iOS 12.1), might need to re-do with actual 'Claim Rewards' call since I was just on the KMD coin screen when Low Power popped up.
upd. tried to catch with receive(qr code) pop-up, still no luck

[2020-05-31 21:34] dth88 commented on #142
I found my old logs when this black screen happened to me, might be of help --> https://paste.ubuntu.com/p/zXM8Gr5n4T/
I don't remember what exactly I did in the app when this black screen appeared, but the interesting part was that even though Portfolio screen was black, I could navigate to dex/settings/news screens which rendered correctly, but when I pressed Portfolio it was black anyway even a

[2020-05-31 22:13] dth88 opened #144 "Input fields - show/hide timer"
So, lately, I was typing in a seed to restore a wallet and since I actually typed it in by hands instead of copypasting I made a few typos and ofc could not restore a wallet so I had to fix those typos. I then pressed the show button and tried to navigate the cursor to where the actual typo is, and it was very hard because you have to be swift enough to point the cursor until it hides the seed aga

[2020-05-31 23:56] dth88 commented on #123
@tonymorony I think actually there was a bug that we cannot experience right now because it was already patched by some update in the past. As you can see on the screenshot the value of the button is actually in hide mode even though user can see the full text.

[2020-06-01 00:01] dth88 commented on #115
@tonymorony is this still relevant? seems like we patched it already.

[2020-06-01 00:12] dth88 commented on #106
@tonymorony did we do something regarding this issue? or is it still pending?

[2020-06-01 00:16] dth88 commented on #102
@tonymorony I have not experienced any paste issues in the recent updates on both platforms, should we close this one?

[2020-06-01 00:23] dth88 commented on #99
@tonymorony did we reach an end to this one? should I pick it up from here or was it already resolved last year?

[2020-06-01 00:25] dth88 commented on #98
@tonymorony I guess we resolved it last year, right?

[2020-06-01 01:40] dth88 opened #145 "Smaller Screens glitches for future rework."
Screenshots from my iPhone SE. Leaving it here for future UI tweaks. If anyone else has any other examples, let's gather all of them here so devs in the future would have easy access to this info.

1----
![photo_2020-06-01_04-33-09](https://user-images.githubusercontent.com/11756768/83368448-809cd980-a3c1-11ea-8f1a-4ddf3339f669.jpg)

2----
![photo_2020-06-01_04-33-13](https://user-images.githubuse

[2020-06-01 09:47] tonymorony opened #146 "Add social trading features"
I think it might be interesting at some point to make social etoro-like social trading features where people can share thoughts / their portfolios / porfolios-positons performance / compare performance with other traders

[2020-06-01 18:42] tonymorony commented on #106
We've increased time this message appear, closing this one

[2020-06-01 18:42] #106 closed

[2020-06-01 18:45] tonymorony commented on #102
It should be fixed since we've updated flutter with this issue resolution included https://github.com/flutter/flutter/issues/37798
closing this one

[2020-06-01 18:45] #102 closed

[2020-06-03 10:04] dth88 commented on #98
closing this one since @dudezmobi replied that the problem is no longer relevant.

[2020-06-03 10:04] #98 closed

[2020-06-03 10:04] dth88 commented on #99
closing this one since @dudezmobi replied that the problem is no longer relevant.

[2020-06-03 10:04] #99 closed

[2020-06-03 10:41] dth88 opened #147 "Podcasts tab"
Just a random idea/mindflow:

Since we got audio player functionality we can add cryptotalks podcasts right into the app (maybe News change to Content and on Content two sub-categories News and Podcasts)
something like that:
https://pod.co/crypto-radio
and I've seen many good podcasts with @ca333

P.S.
I have a general strong feeling that AtomicDEX GUIs (mobile/desktop) might great with some socia

[2020-06-03 11:22] dth88 opened #148 "Add "show private key" feature"
KomodoPlatform/developer-docs#158

duplicated from private

[https://github.com/ca333/komodoDEX/issues/691]

[2020-06-03 13:44] dth88 opened #149 "Smart watch (watchOS & gearOS) atomicDEX notifications"
Posting this so it doesn't get lost:
Smartwatch notifications for order matches, swaps, incoming transactions,... would be epic. Maybe we can even use the watch as a "DEX remote control" and issue swaps and transactions.

resources/inspiration:
https://medium.com/@mjohnsullivan/experimenting-with-flutter-on-wear-os-f789d843f2ef
https://medium.com/flutter-community/flutter-building-wearos-app-fedf0

[2020-06-03 14:28] dth88 opened #150 "Add possibility to convert usual case address to mixed case one right in the app"
At the moment users are very confused when trying to withdraw ETH/ERC-20 and input non-mixed case address as the recipient.

I suggest to add the possibility to convert address to the mixed case right in the app - because now support just recommends to input address to etherscan website to get the mixed case version what is the sub-optimal way.

Duplicated from a private repo
[https://github.com/c

[2020-06-03 14:38] dth88 commented on #17
Similar/related issues:

https://github.com/KomodoPlatform/atomicDEX/issues/139
https://github.com/ca333/komodoDEX/issues/749
https://github.com/ca333/komodoDEX/issues/523
https://github.com/ca333/komodoDEX/issues/480
maybe this one as well https://github.com/KomodoPlatform/atomicDEX/issues/131
and this one https://github.com/KomodoPlatform/atomicDEX/issues/50

[2020-06-03 15:07] dth88 opened #151 "[l10n] Adding localization"
To add further languages plz use https://github.com/KomodoPlatform/atomicDEX/blob/master/l10n.arb on https://translate.google.com/toolkit and translate it to the desired languages.

Language coverage currently:

- [x] French

- [x] Deutsch

- [x] Chinese traditional

- [x] Chinese simplified

- [x] Russian

- [x] Japanese

- [x] Turkish

- [x] Hungarian

- [ ] Hindi

- [ ] Korean

- [ ] Spanish

-

[2020-06-03 15:12] dth88 opened #152 "Repeat order when failed"
If an order fails (timeout, ...) there should be a Retry button which "repeats" the request.

Duplicated from private repo
https://github.com/ca333/komodoDEX/issues/277

[2020-06-03 15:21] cipig commented on #152
don't know if that is such a good idea
it can make things worse if network is overloaded and you send more network requests in a loop
and if timeout is because of dead/faulty maker, it will not have any positive effect

[2020-06-03 16:05] dth88 opened #153 "Amount of orders on orderbooks page"
I think it might be quite helpful for the user to have on this screen the total amount of orders for a given pair

Since there might be many possible pairs options in DEX and since we're on a stage where there is not many orders user might need to click a lot of options to find the pair with >0 amount of orders. To not break overloads we might just highlight VRSC and user will learn what that mean

[2020-06-03 16:15] dth88 opened #154 "Charts"
Do we have long term plans on сharts adding (portfolio growth dynamics chart like in blockfolio or delta and price change charts)? Traders like charts really a lot :)

![image](https://user-images.githubusercontent.com/24797699/81057906-89e87280-8ef7-11ea-92d0-f8ab060bab5b.png)

Long story short: yes we do have plans to add charts.

Duplicated from private repo
https://github.com/ca333/komodoDEX/i

[2020-06-03 21:02] dth88 commented on #69
closing this in favor of #151

[2020-06-03 21:02] #69 closed

[2020-06-05 16:37] dth88 opened #155 "[Discussion] Add last trade and fiat price to orderbook"
That essential information for useful orderbook representation

Binance:

![image](https://user-images.githubusercontent.com/24797699/81057434-928c7900-8ef6-11ea-8b30-cb35daa573c4.png)

Huobi:

![image](https://user-images.githubusercontent.com/24797699/81057637-0464c280-8ef7-11ea-88b0-c1ec8c8810d1.png)

---reply:
by the last price I mean, the price of last happened trade (lastprice tab in a table

[2020-06-05 16:42] dth88 opened #156 "Limit simultaneously activated coins amount on iOS"
#743 (comment)

I'm starting to get too many opened files on Xr in release mode with 9 coins already (around 210 from 250 descriptors used). So I think it might be worth to force users to not activate many coins for now for better and smoother user experience and disappointment avoiding :)

But if implement that we should carefully think about the case for users who'll update to this version and h

[2020-06-05 16:47] dth88 opened #157 "Separate PIN and biometric protection"
With both PIN and Biometric protections activated in Settings->Security only biometric requesting for the user so it should be "or" mode.

Other words:
If a user enables just PIN app requesting a PIN
If a user enables Biometric app requesting biometric
If a user enables Biometric and Pin app now requesting only biometric (however on-screen with pin :) ) what is not correct IMO (it shouldn't be pos

[2020-06-05 16:55] SirSevenG commented on #157
https://github.com/KomodoPlatform/atomicDEX/issues/93

Related issue

[2020-06-05 17:16] dth88 opened #158 "Amount displaying not correct in transaction info in case with rewards (negative txfee)"
Looks like AtomicDEX calculating transaction amount as `amount - fee` or something like that

Actual transaction:

https://kmdexplorer.io/tx/d8fb5e8ab65b24f1e1c237778af0e6690faff617ccdd0a7799955349f8ae9c69

Now in AtomicDEX txinfo in such case looks not clear (like I sent 0.58 KMD instead of 1)

Imo in case of tx with rewards usage we just need to display the amount of sending to destination vout

[2020-06-05 20:41] dth88 opened #159 "Display the virtually locked balance by swaps?"
![image](https://user-images.githubusercontent.com/15745003/61266916-120e5780-a7c0-11e9-89cb-df2be7d93178.png)
The request initiated by `nymkappa#9440` [in Discord](https://discordapp.com/channels/412898016371015680/584762059430821909/600545414600589312).
When swaps with some coins are running the MM2 locks the balance of these virtually to prevent starting swaps than are about to use more coins t

[2020-06-07 14:38] cipig commented on #133
here is such a recently failed swap: https://dexapi.cipig.net/public/error.php?uuid=60180d69-3588-402b-962c-4ab0bef2b15a
and another one, likely from same user: https://dexapi.cipig.net/public/error.php?uuid=c3250022-6453-4263-b6b2-d2707885569d
`taker_swap:649] Started_at time_dif over 60 145`, so takers clock is 145s away from real time and mm2 only accepts max 60s

[2020-06-09 11:09] gcharang opened #160 "Make the info in the markets tab similar to traditional orderbooks"
In the orderbook displays below, for the same pair: KMD/BTC, the columns in AtomicdEX mobile are `Price(BTC)-Amt(KMD)-Total(KMD)` vs the orderbook in Binance shows `Price(BTC)-Amt(KMD)-Total(BTC)`

![photo6267156252316510771](https://user-images.githubusercontent.com/21151592/84140524-645b0580-aa6f-11ea-8257-85de788025a0.jpg)

VS

![Screenshot from 2020-06-09 16-31-38](https://user-images.githubus

[2020-06-09 14:26] gcharang opened #161 "Keep the base coin same in the order info screen created from the markets tab for both the red and green orders"
Currently, when an order is clicked in the markets tab, both a red order and green order say it is a sell order while changing the order of the involved coins. For example, currently, it says
- red order: Selling BTC for KMD
- green order: Selling KMD for BTC

![photo6267156252316510802](https://user-images.githubusercontent.com/21151592/84158679-c6286900-aa89-11ea-9b08-5d4c72b2074e.jpg)
![photo62

[2020-06-10 09:27] gcharang opened #162 "Price in the markets tab is shown in scientific notation when it is too small"
Example:
![photo6271659851943881268](https://user-images.githubusercontent.com/21151592/84251116-8796bb00-ab2a-11ea-936a-c887971b6a37.jpg)

the last order in the above picture. Instead of arbitrary precision, I think its best to uniformly use 8 decimal places

[2020-06-24 06:13] gcharang opened #163 "Pressing "unlock funds" button on a unrecoverable swap involving ETH/ERC-20 repeatedly, spends gas fees repeatedly"
This may be an edge case that occurred because of a bug in AtomicdEX-API/(smart contract code), but I think every button press that costs something should report the cost before the button is pressed. or at least ask for a confirmation before the action is performed.

In this particular case, the swap involved ETH and was stuck(unrecoverable)
![failed-eth-swap](https://user-images.githubuserconten

[2020-07-10 10:42] tonymorony opened #165 "Amount of orders on orderbooks page"
I think it might be quite helpful for user to have on this screen total amount of orders for given pair

Since there might be many possible pairs options in DEX and since we're on stage where there is not many orders user might need to click a lot of options to find the pair with >0 amount of orders. To not break overloads we might just highlight VRSC and user will learn what that means

![image](

[2020-07-21 02:05] gcharang opened #166 "Add a button on the swap info page that lets a user share the swap data json"
This lets a user share the swap data of just one suspected troublesome swap instead of the whole log file.

[2020-08-17 06:41] damascene opened #167 "Add BIP70 support to the mobile wallet"
BIP70 payment protocol is essential for accepting payments in crypto currencies. There are many POS systems that have moved to BIP70 and no longer accept the BIP21 or don't favor it.

Example:
Anypay
Bitpay
GoCrypto
BCH register app

For list of some wallet that have implemented BIP70 support:
https://support.bitpay.com/hc/en-us/articles/115005701523-Which-wallets-work-best-for-a-BitPay-payment-Wh

[2020-08-26 11:11] gcharang opened #168 "Add a hint/prompt in the orderbook screen that lets a user know that they can be a maker if they so wish"
Many users are looking at the large spreads in the orderbooks and don't seem to realize that they can create an order with the price they like, leave the app running in the background and let other users fill it. Some text that explains this on the screen might be helpful.

If ever we integrate a guided tour/tutorial to the app, this info should be included in it.

[2020-08-27 17:08] theblackmallard commented on #168
In reference to your "Guided Tour/tutorial" comment, I had opened this for AtomicDEX Pro
https://github.com/KomodoPlatform/atomicDEX-Pro/issues/450

[2020-09-09 06:10] gcharang opened #169 "Add info about suggested txn fee for BTC/ETH withdrawal"
Right now, a user is blind to the txn fee market while using the app, and only a very advanced user would have the knowledge and ability to estimate the required fee and set it using the custom fee option.

An interface like the one in a BTC electrum wallet might be good to integrate.

Example:
![Screenshot from 2020-09-09 11-21-35](https://user-images.githubusercontent.com/21151592/92560077-652e4

[2020-09-09 13:36] cipig commented on #169
the output of the method `withdraw` in mm2 is showing the total fees that will be used, so `\"method\":\"withdraw\",\"coin\":\"BTC\",\"to\":\"xxxxxxxxxxxxx\",\"max\":true,\"fee\":{\"type\":\"UtxoPerKbyte\",\"amount\":0.00004}}` (with custom fee of 4 sats)
shows
[code]
if no fee is passed to `withdraw`, mm2 uses the fee from `estimatesmartfee` call of bitcoind

[2020-09-19 13:24] gcharang commented on #150
@tonymorony  can we bump up the priority of this issue? if it isn't implemented as @dathbezumniy suggests, how about updating the error message to be informative?

[2020-09-19 16:53] cipig commented on #150
API has the necessary calls implemented: https://developers.atomicdex.io/basic-docs/atomicdex/atomicdex-api.html#convertaddress
[code]

[2020-09-19 16:55] tonymorony commented on #150
thanks, for bumping!

 yeah it's reflected in relevant issue in mobile repo: https://github.com/ca333/komodoDEX/issues/609

we'll impliment this one in one of the next releases

[2020-09-20 13:48] SirSevenG commented on #129
Tested on android .app Mateus send. Initial scrolling problem is solved by `db5e0db9ea3f1b` (above).
There is one scenario, when tx history still resets:

- scroll down N transaction
- send a new tx [send] -> [withdraw] -> [confirm]
- tx history also resets to latests transaction

Arguably, we can also look into it.

[2020-12-17 07:16] damascene opened #170 "Bitcoin Cash (BCH) icon is orange in AtomicDEx mobile version"
I've noticed that AtomicDEX mobile version shows orange BCH logo even though it was decided to use the green logo.
The desktop version is using the correct Green colour.

For more info:
https://github.com/jl777/coins/pull/349
https://github.com/KomodoPlatform/atomicDEX/issues/5
https://bch.info/en/media

[2020-12-17 10:30] dth88 commented on #170
@damascene thank you for noticing! we will surely update it in the upcoming release.

[2021-04-16 18:19] ptyx11 opened #171 "Shapeshift style swaps for mobile"
I've noticed many users on mobile are finding it hard to navigate the DEX UI. I think it's because the reduced size of a mobile screen makes it difficult to add the needed detail to make it intuitive. I propose to change the mobile swap UI to a shapeshift-style screen.
1 - User picks coin 1, and an amount
2- User picks coin 2, he gets shown a conversion estimate based on what's in the orderbooks.

[2021-04-16 20:27] tonymorony commented on #171
thanks for the issue opening!

we do plan to bring such experience on both desktop and mobile (used Changelly interface for the paint mockup :) )

cf: https://github.com/KomodoPlatform/atomicDEX-Desktop/issues/625
cf: https://github.com/KomodoPlatform/AtomicDEX-mobile/issues/1012

[2021-04-29 01:44] SirSevenG commented on #93
Not actual anymore.

[2021-04-29 01:44] #93 closed

[2021-11-22 12:28] cipig commented on #133
https://github.com/KomodoPlatform/atomicDEX-API/issues/1115

[2021-11-22 12:28] #133 closed, assigned to smk762

[2022-02-03 05:32] #65 closed

[2022-02-03 05:32] #66 closed

[2022-02-05 19:34] murgascarrillo opened #172 "[FEATURE REQUEST]: Add [ES] language to AtomicDEX on mobile web and desktop version."
Hello.
I'm not sure about the current amount of spanish-native/talking AtomicDEX customers but it sure is >0.
Please add Spanish to the app's language options on desktop, web and mobile version. I volunteer to translate every string.

[2022-02-07 04:03] tonymorony commented on #172
Hello @KarlVonCode  Thank you for the issue opening

The mobile app translation to Spanish is in progress right now and managed by @ptyx11 so will be available in one of the upcoming releases

[2022-02-17 08:27] smk762 commented on #172
related: https://github.com/KomodoPlatform/atomicDEX-Desktop/issues/1534